<% content_for :title do %>L'indice carbone : impact carbone hebdomadaire<% end %>
<% content_for :description do %>Suivez chaque semaine l'évolution de l'impact carbone moyen des utilisateurs carbo, un indicateur avancé de l'empreinte carbone personnelle.<% end %>
<div class="page-header home-section indice-section1">
  <div class="container">
    <div class="row justify-content-center align-items-top">
      <div class="col-md-5" style="margin-right:-40px;">
        <h1>L'indice carbone</h1>
        <h5 class="description">
          Suivez chaque semaine l'évolution de l'impact carbone de la consommation des français.
        </h5>
        <%= link_to "Voir le détail", "#detail", class: "btn btn-lg btn-round btn-outline-primary" %>
      </div>
      <div class="col-md-6 dashboard-wrapper mt-auto mb-auto" id="indice">
        <div class="row justify-content-center align-items-center">
          <div class="col-8">
            <%= render 'thermometre' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="detail" class="row">
  <div class="col-6 text-center camembert" style="padding-top: 50px;">
    <h3>
      Indice carbone<br>
      <span style="font-weight:normal;">de la semaine</span>
    </h3>
    <div class="piechart-title text-center" style="margin-top:15px;">
      <div>
        <span class="number number-md"><%= number_with_precision(@week.week_total*1000/12, precision: 0) %></span>
        <br>kgCO2e
      </div>
    </div>
    <div style="margin-top:30px;">
      <%= pie_chart @data, colors: @categories.map { |c| c.color}, round: 1, donut: true, legend: "none", suffix: " kgCO2" %>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <table class="table text-left table-category">
          <tbody>
                  <% i = 0 %>
                  <% @categories.each do |c| %>
                    <tr>
                      <td class="text-right" style="width:8%;">
                        <div class="category-pill ml-auto" style="cursor: pointer; background:<%= c.color %>;"/>
                      </td>
                      <td>
                        <%= c.name %>
                      </td>
                      <td style="width:20%; color:<%= c.color %>; font-weight:bold;">
                        <%= number_with_precision(@week.week_detail[i].to_f*100 / @week.week_total, precision: 0).to_s + " %" %>
                      </td>
                    </tr>
                    <% i = i+1 %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
  </div>
  <div class="col-6 background-linear">
    <div class="content">
      <h3>La tendance</h3>
      <div class="row align-items-center">
        <% if @week.week_total <= @previous.week_total %>
          <div class="col-2 emoji">
            🌱
          </div>
          <div class="col-10" style="margin-left:-20px;">
            <p class="big">
              En baisse par rapport à la semaine passée (<%= ((@week.week_total - @previous.week_total)*100 / @previous.week_total).round(0).to_i %>%)
            </p>
          </div>
        <% else %>
          <div class="col-2 emoji">
            🥵
          </div>
          <div class="col-10" style="margin-left:-20px;">
            <p class="big">
              En hausse par rapport à la semaine passée (+<%= ((@week.week_total - @previous.week_total)*100 / @previous.week_total).round(0).to_i %>%)
            </p>
          </div>
        <% end %>
      </div>
      <div class="row align-items-center">
        <div class="col-2 emoji">
          🔮
        </div>
        <div class="col-10" style="margin-left:-20px;">
          <p class="big">
            Sur les 4 dernières semaines, l'indice carbo atteint en moyenne
            <strong>
              <%= (@average_history.last.month_total * 1000 / (12*4)).to_i %>
              kg CO2e
            </strong>
          </p>
        </div>
      </div>
      <hr>
      <p class="big">
        Ces émissions, c'est l'équivalent de :
      </p>
      <div class="row align-items-center">
        <div class="col-2 emoji">
          👖
        </div>
        <div class="col-10" style="margin-left:-20px;">
          <p class="big">
            La fabrication de
            <strong>
              <%= (@average_history.last.week_total*1000/12 / 15).to_i %>
              jeans
            </strong>
          </p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-2 emoji">
          🍔
        </div>
        <div class="col-10" style="margin-left:-20px;">
          <p class="big">
            La production de
            <strong>
              <%= (@average_history.last.week_total*1000/12 / 5).to_i %>
              hamburgers
            </strong>
          </p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-2 emoji">
          🛴
        </div>
        <div class="col-10" style="margin-left:-20px;">
          <p class="big">
            <strong>
              <%= (@average_history.last.week_total*1000/12 / 0.125).to_i %>
              kilomètres parcourus
            </strong>
             en trotinette électrique
          </p>
        </div>
      </div>
      <%= link_to "✨ Estimer mon empreinte", "/users/sign_up", class: "btn btn-lg btn-round btn-info" %>
      <%# link_to "🔗 Partager l'indice", "", class: "btn btn-lg btn-round btn-primary" %>
    </div>
  </div>
</div>
<div id="evolution">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h3>Et d'ici la fin de l'année ?</h3>
      <p class="description big">
        A ce rythme, notre impact carbone annuel moyen sera de
        <span class="text-primary"><strong><%= @week.year_total.round(1) %>
        TCO2e.</strong></span> C’est
        <%= (-(@week.year_total - @average_history.first.year_total)*100 / @average_history.first.year_total).to_i %>% de moins qu’en 2019 👏
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <div class="card" style="margin-top:50px;">
        <div class="card-title">
          <div class="emoji-title">
            <h5>
              📈
              Indice carbone sur 12 mois
            </h5>
          </div>
        </div>
        <div class="card-body">
          <%= line_chart @average_history.map { |a| [a.created_at, (a.week_total*1000/12).round(0).to_i] }, defer: true, points: false, :style => "margin-top:30px;", suffix: " kgCO2e", decimal: "," %>
        </div>
      </div>
      <%= link_to "Suivre mon impact gratuitement", "/users/sign_up", class: "btn btn-lg btn-round btn-rose", :style => "margin-bottom: 50px;" %>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h4>
            <small>12 juillet 2020</small><br>
            Attention à l'effet rebond
          </h4>
        </div>
        <p>
          Le texte le texte le texte le texte letexte letetet ltretetf zelfzelcz
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h4>
            <small>25 avril 2020</small><br>
            Lockdown !
          </h4>
        </div>
        <p>
          Le texte le texte le texte le texte letexte letetet ltretetf zelfzelcz
        </p>
      </div>
    </div>
  </div>
</div>

