<div class="row align-items-center justify-content-center">
  <div class="col-lg-10 col-md-12">
    <div class="card">
      <div class="row">
        <div class="col-md-7">
          <div class="card-body">
            <h3><strong>
              <small>Question 6 / 6</small>
              <br>
             Comment décrirais-tu ton régime alimentaire ?
            </strong></h3>
            <%= form_for @score do |form| %>
              <div class="form-group btn-group btn-group-toggle flex-wrap" data-toggle="buttons">
                <%= form.collection_radio_buttons(:regime, Score.regimes, :first, :first) do |b| %>
                  <%= b.label(class: "btn btn-sm btn-outline-info", :onchange => "this.form.submit();") { b.radio_button + b.text.humanize } %>
                <% end %>
              </div>
              <%= image_tag "regime.png", class: "img-fluid w-50", :style => "margin-top:20px;margin-left:auto;margin-right:auto;display:block;" %>
            <% end %>
          </div>
        </div>
        <div class="col-md-5 score-preview text-center">
          <%= render "score" %>
        </div>
      </div>
    </div>
  </div>
</div>
