<% content_for :title, "Mon calcul carbone" %>
<div class="row justify-content-center">
  <div class="col-4">
    <%= image_tag("illu1_section3.png", class: "img-fluid") %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= form_for @score do |form| %>
      <h3 class="text-danger"><span class="number">1.</span> Mes habitudes de transport</h3>
      <div class="card border-danger">
        <div class="card-body">
          <h4>Combien parcours-tu de km <strong>par semaine</strong> ...</h4>
          <div class="form-group bmd-form-group">
            <%= form.label :🚗_en_voiture_à_essence_ou_diesel_?, class: 'bmd-label-floating' %>
            <%= form.number_field :week_basic_car, class: "form-control", :autofocus => true %>
            <span class="bmd-help"></span>
          </div>
          <div class="form-group bmd-form-group">
            <%= form.label :🔌_en_voiture_électrique_?, class: 'bmd-label-floating' %>
            <%= form.number_field :week_electric_car, class: "form-control" %>
            <span class="bmd-help"></span>
          </div>
          <div class="form-group bmd-form-group">
            <%= form.label :🛵_en_moto_ou_scooter_?, class: 'bmd-label-floating' %>
            <%= form.number_field :week_moto, class: "form-control" %>
            <span class="bmd-help"></span>
          </div>
          <div class="form-group bmd-form-group">
            <%= form.label :🚎_en_transport_en_commun_?, class: 'bmd-label-floating' %>
            <%= form.number_field :week_public_trans, class: "form-control" %>
            <span class="bmd-help"></span>
          </div>
        </div>
        <div class="card-footer text-center">
          <div class="actions text-center">
            <%= link_to 'Continuer', "#logement", class: 'btn btn-outline-info btn-round' %>
          </div>
        </div>
      </div>
      <h3 class="text-rose" id="logement"><span class="number">2.</span> Mon logement</h3>
      <div class="card border-rose">
        <div class="card-body">
          <h4>Comment ton logement est-il chauffé ?</h4>
          <div class="form-group btn-group btn-group-toggle flex-wrap" data-toggle="buttons">
            <%= form.collection_radio_buttons(:energy, Score.energies, :first, :first) do |b| %>
              <%= b.label(class: "btn btn-sm btn-outline-info") { b.radio_button + b.text.humanize } %>
            <% end %>
          </div>
          <h4>Ton contrat d'énergie inclut-il des sources renouvelables ?</h4>
          <div class="form-group btn-group btn-group-toggle flex-wrap" data-toggle="buttons">
            <%= form.collection_radio_buttons(:enr, Score.enrs, :first, :first) do |b| %>
              <%= b.label(class: "btn btn-sm btn-outline-info") { b.radio_button + b.text.humanize } %>
            <% end %>
          </div>
        </div>
        <div class="card-footer text-center">
          <div class="actions text-center">
            <%= link_to 'Continuer', "#alimentation", class: 'btn btn-outline-info btn-round' %>
          </div>
        </div>
      </div>
      <h3 class="text-primary" id="alimentation"><span class="number">3.</span> Mes habitudes alimentaires</h3>
      <div class="card border-primary">
        <div class="card-body">
          <h4>Combien consommes-tu de repas <strong>par semaine</strong> à base de ...</h4>
          <div class="form-group bmd-form-group">
            <%= form.label :🐮_viande_rouge_?, class: 'bmd-label-floating' %>
            <%= form.number_field :redmeat, class: "form-control" %>
            <span class="bmd-help"></span>
          </div>
          <div class="form-group bmd-form-group">
            <%= form.label :🐔_poulet_?, class: 'bmd-label-floating' %>
            <%= form.number_field :poultry, class: "form-control" %>
            <span class="bmd-help"></span>
          </div>
          <div class="form-group bmd-form-group">
            <%= form.label :🧀_produits_laitiers_?, class: 'bmd-label-floating' %>
            <%= form.number_field :dairy, class: "form-control" %>
            <span class="bmd-help"></span>
          </div>
        </div>
        <div class="card-footer text-center">
          <div class="actions text-center">
            <%= link_to 'Continuer', "#biens", class: 'btn btn-outline-info btn-round' %>
          </div>
        </div>
      </div>
      <h3 class="text-warning" id="biens"><span class="number">4.</span> Mes biens de consommation</h3>
      <div class="card border-warning">
        <div class="card-body">
          <h4>Quel budget mensuel consacres-tu ...</h4>
          <div class="form-group bmd-form-group">
            <%= form.label :au_mobilier_et_appareils_ménagers_?, class: 'bmd-label-floating' %>
            <%= form.number_field :goods_furnitures, class: "form-control" %>
            <span class="bmd-help"></span>
          </div>
          <div class="form-group bmd-form-group">
            <%= form.label :aux_vêtements_et_chaussures_?, class: 'bmd-label-floating' %>
            <%= form.number_field :goods_clothes, class: "form-control" %>
            <span class="bmd-help"></span>
          </div>
          <div class="form-group bmd-form-group">
            <%= form.label :aux_autres_biens_de_consommation_?, class: 'bmd-label-floating' %>
            <%= form.number_field :goods_others, class: "form-control" %>
            <span class="bmd-help"></span>
          </div>
        </div>
        <div class="card-footer text-center">
          <div class="actions text-center">
            <%= link_to 'Continuer', "#services", class: 'btn btn-outline-info btn-round' %>
          </div>
        </div>
      </div>
      <h3 class="text-violet" id="services"><span class="number">5.</span> Ma consommation de services</h3>
      <div class="card border-violet">
        <div class="card-body">
          <h4>Quel budget mensuel consacres-tu ...</h4>
          <div class="form-group bmd-form-group">
            <%= form.label :pour_ta_santé_?, class: 'bmd-label-floating' %>
            <%= form.number_field :services_health, class: "form-control" %>
            <span class="bmd-help"></span>
          </div>
          <div class="form-group bmd-form-group">
            <%= form.label "Pour tes abonnements ?", class: 'bmd-label-floating' %>
            <%= form.number_field :services_plans, class: "form-control" %>
            <span class="bmd-help"></span>
          </div>
          <div class="form-group bmd-form-group">
            <%= form.label "Pour d'autres services ?", class: 'bmd-label-floating' %>
            <%= form.number_field :services_others, class: "form-control" %>
            <span class="bmd-help"></span>
          </div>
        </div>
        <div class="card-footer text-center">
          <div class="actions text-center">
            <%= form.submit 'Mettre à jour mon calcul', class: 'btn btn-info btn-round' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
