<div class="row align-items-center justify-content-center">
  <div class="col-lg-10 col-md-12">
    <div class="card">
      <div class="row">
        <div class="col-md-7">
          <div class="card-body">
            <h3><strong>
              <small>Question 3 / 7</small>
              <br>
             Combien de vols long courrier effectues-tu par an (plus de 3h) ?
            </strong></h3>
            <%= form_for @score do |form| %>
              <div class="form-group bmd-form-group text-center">
                <%= form.number_field :long_flights, :value => 0, :min => 0, :max => 100,  class: "form-control" %>
                <small class="form-text text-muted">Indique un nombre de vols aller-retour.</small>
              </div>
              <div class="actions text-center">
                <%= form.submit 'Continuer', class: 'btn btn-primary btn-round' %>
              </div>
              <%= image_tag "long_flights.png", class: "img-fluid w-50", :style => "margin-left:auto;margin-right:auto;display:block;" %>
            <% end %>
          </div>
        </div>
        <div class="col-md-5 score-preview text-center">
          <%= render "score" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'number_spinner' %>
