<div class="row">
  <div class="col-lg-10 col-md-12 ml-auto mr-auto">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-end">
          <div class="col-md-7">
            <h3><strong>
              <small>Bienvenue à bord <%= current_user.name %> !</small>
              <br>
              Estime ton empreinte carbone en 1 minute
            </strong></h3>
            <p>
              Si tu as un profil similaire à nos membres, ton impact a de fortes chances d’être plus important que la plupart des gens sur Terre. Pour en avoir le coeur net, commençons par personnaliser ton expérience Carbo !
            </p>
            <%= form_for @score do |form| %>
                <div class="field">
                  <%= form.hidden_field :user_id, :value => current_user.id %>
                  <%= form.hidden_field :kind, :value => :static %>
                </div>
                <div class="form-group">
                  <h4>Dans quel pays se trouve ton logement principal ?</h4>
                  <%= form.select(:country_id, @countries.order(:id).map {|c| [c.name, c.id]}, :selected => 63, :class => "custom-select js-searchable", :onchange => "this.form.submit();") %>
                </div>
                <div class="actions text-center">
                  <%= form.submit 'Estimer mon impact carbone', class: 'btn btn-primary btn-round' %>
                </div>
            <% end %>
          </div>
          <div class="col-md-5">
            <%= image_tag("location.png", :class => 'img-fluid d-none d-md-block') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
