<div class="row">
  <div class="col-lg-9 col-md-12 ml-auto mr-auto">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-end">
          <div class="col-md-7">
            <h3><strong>
              <small>Bienvenue à bord <%= current_user.name %> !</small>
              <br>
              Faisons une première estimation de ton impact carbone
            </strong></h3>
            <p>
              Réponds à quelques questions pour commencer à personnaliser ton expérience Carbo. On commence par une facile 😉
            </p>
            <%= form_for @score do |form| %>
                <div class="field">
                  <%= form.hidden_field :user_id, :value => current_user.id %>
                </div>
                <div class="form-group">
                  <p>Dans quel pays se trouve ton logement principal ?</p>
                  <%= form.select(:country_id, @countries.order(:id).map {|c| [c.name, c.id]}, :selected => 63, :class => "custom-select js-searchable") %>
                </div>
                <div class="actions text-center">
                  <%= form.submit 'Estimer mon impact carbone', class: 'btn btn-primary btn-round' %>
                </div>
            <% end %>
          </div>
          <div class="col-md-5">
            <%= image_tag("onboarding_3.png", :class => 'img-fluid d-none d-md-block') %>
          </div>
        </div>
      </div>
    </div>
    <ol class="onboarding-indicator">
      <li class="active"></li>
      <li class=""></li>
      <li class=""></li>
    </ol>
  </div>
</div>
