<% content_for :title, "Ma progression" %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= image_tag("badges.png", class: "img-fluid", :style => "margin-bottom:-30px;") %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="card" id="progress-card">
        <div class="card-title">
          <h3 class="text-white">
            <%= current_user.set_level[0] %>
          </h3>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-md-10">
              <div class="row justify-content-center">
                <div class="col-2">
                  <%= image_tag "badge_gland#{"_white" if current_user.set_level[2] >= 0}.png", class: "img-fluid" %>
                </div>
                <div class="col-2">
                  <%= image_tag "badge_pousse#{"_white" if current_user.set_level[2] >= 1}.png", class: "img-fluid" %>
                </div>
                <div class="col-2">
                  <%= image_tag "badge_bonsai#{"_white" if current_user.set_level[2] >= 2}.png", class: "img-fluid" %>
                </div>
                <div class="col-2">
                  <%= image_tag "badge_cocotier#{"_white" if current_user.set_level[2] >= 3}.png", class: "img-fluid" %>
                </div>
                <div class="col-2">
                  <%= image_tag "badge_baobab#{"_white" if current_user.set_level[2] >= 4}.png", class: "img-fluid" %>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6 col-sm-10">
              <p class="text-white">
                Hey
                <%= current_user.name %>... déjà
                <%= current_user.badges.count %>
                badges récupérés, bien joué ! Il ne t’en manque que
                <%= current_user.set_level[1] %>
                pour passer au niveau suivant, on s’y met ?
              </p>
              <%= link_to "Obtenir plus de badges", "#badges", class: "btn btn-outline-white btn-round" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center" id="badges">
    <% Badge.families.map do |k,v| %>
      <% if @badges.where("family = ?", v).present? %>
        <div class="col-md-6">
          <div class="card badge-family" id="family-<%= v %>">
            <div class="card-header card-header-white">
              <h4>
                <%= k.upcase %>
              </h4>
              <div class="progress">
                <div class="progress-bar" role="progress-bar" style="width:<%= [100*current_user.badges.where("family = ?", v).count.to_f / @badges.where("family = ?", v).count.to_f, 10].max %>%;">
                </div>
              </div>
            </div>
            <div class="card-body text-white">
              <div id="carousel_badge_<%= v %>" class="carousel slide" data-ride="carousel" data-interval="false" >
                <div class="carousel-inner">
                  <% @badges.where("family = ?", v).each do |badge| %>
                    <div class="carousel-item <%= "active" if badge == @badges.where("family = ?", v).first %>">
                      <%= link_to "", "data-toggle" => "modal", "data-target" => "#badgeModal#{badge.id}" do %>
                        <div>
                          <%= image_tag badge.image + "#{"_ok" if current_user.badges.include?(badge)}" + ".png", class: "img-fluid w-25" %>
                          <p class="text-white">
                            <%= badge.name %>
                          </p>
                        </div>
                      <% end %>
                    </div>
                    <!-- Modal -->
                      <div class="modal fade badgeModal" id="badgeModal<%= badge.id %>" tabindex="-1" role="dialog" aria-labelledby="badgeModal<%= badge.id %>Label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <%= image_tag badge.image + "#{"_ok" if current_user.badges.include?(badge)}" + ".png" %>
                              <h4 class="modal-title" id="commentModalLabel"><%= badge.name %></h4>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -50px;">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <p class="description"><%= badge.short_desc %></p>
                                  <% if current_user.badges.include?(badge) %>
                                    <%= link_to "Badge déjà obtenu", badge.url, class: "btn-link btn-primary", :id => "badge_#{badge.id}", :target => "#{'_blank' if badge.url.include?('http')}" %>
                                  <% else %>
                                    <%= link_to "Obtenir ce badge", badge.url, class: "btn btn-round btn-primary", :id => "badge_#{badge.id}", :target => "#{'_blank' if badge.url.include?('http')}" %>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  <% end %>
                </div>
                <a class="carousel-control-prev" href="#carousel_badge_<%= v %>" role="button" data-slide="prev">
                  <i class="material-icons">arrow_back</i>
                </a>
                <a class="carousel-control-next" href="#carousel_badge_<%= v %>" role="button" data-slide="next">
                  <i class="material-icons">arrow_forward</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  $( "#badge_7" ).click(function() {
    $.post('/badges/add', {
      badge: 7
    });
  });
  $( "#badge_22" ).click(function() {
    $.post('/badges/add', {
      badge: 22
    });
  });
  $( "#badge_23" ).click(function() {
    $.post('/badges/add', {
      badge: 23
    });
  });
  $( "#badge_24" ).click(function() {
    $.post('/badges/add', {
      badge: 24
    });
  });
</script>
