<% content_for :title, "Préciser une dépense" %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="card">
        <div class="card-title">
          <h3><small>Description : </small><%= @transaction.description %></h3>
        </div>
        <div class="card-body">
          <% if @modifiers.present? %>
            <% @modifiers.each do |modifier| %>
              <% if @transaction.transaction_modifiers.find_by_modifier_id(modifier.id).present? %>
                <% transaction_modifier = @transaction.transaction_modifiers.find_by_modifier_id(modifier.id) %>
              <% else %>
                <% transaction_modifier = TransactionModifier.new  %>
              <% end %>
              <%= form_for(transaction_modifier) do |f| %>
                <div class="field">
                  <%= f.hidden_field :transaction_id, :value => params[:id] %>
                  <%= f.hidden_field :modifier_id, :value => modifier.id %>
                  <%= f.label "#{modifier.name}" %>
                  <div class="form-group btn-group btn-group-toggle flex-wrap" data-toggle="buttons">
                    <%= f.collection_radio_buttons(:modifier_option_id, modifier.modifier_options, :id, :name, :selected => transaction_modifier.modifier_option_id) do |b| %>
                      <%= b.label(class: "btn btn-sm btn-outline-info") { b.radio_button + b.text.humanize } %>
                    <% end %>
                  </div>
                </div>
                <%= f.submit "Enregistrer", class: 'btn btn-round btn-outline-primary' %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("input:checked").parent().addClass("selected");
  });
</script>
