$("#flash-messages").html('<%= j render "layouts/messages" %>');
setTimeout(function(){
  $('.alert').fadeOut();
}, 3000);

$("span#carbone").text("<%= number_with_precision(@transaction.carbone, precision: 1) %>");

<% transaction_modifier = @transaction_modifier  %>

var new_form = '<%= form_with(model: transaction_modifier, remote: true) do |f| %><div class="field"><%= f.hidden_field :transaction_id, :value => @transaction.id %><%= f.hidden_field :modifier_id, :value => @modifier.id %><label><%= @modifier.name %></label><div class="form-group btn-group btn-group-toggle flex-wrap" data-toggle="buttons"><%= f.collection_radio_buttons(:modifier_option_id, @modifier.modifier_options, :id, :name, class: "radio-auto-submit") do |b| %><%= b.label(class: "btn btn-sm btn-outline-info") { b.radio_button(class: "radio-auto-submit") + b.text.humanize } %><% end %></div><%= link_to transaction_modifier, method: :delete, :remote => true, :id => "delete-modifier-#{transaction_modifier.id}"  do %><i class="material-icons">delete</i><% end %></div><% end %>';

$("#modifier-<%= @modifier.id%>").children().remove();
$("#modifier-<%= @modifier.id%>").append(new_form);

$("input:checked").parent().addClass("selected");
$("#modifier-<%= @modifier.id%>").children('form').children('div').children('div').children('label').children('input').on('change', function() {
   if( $(this).is(':checked') ) {
      form = this.form;
      Rails.fire(form, 'submit');
    }
  });
