<% content_for :title, "Suivre Donald Trump" %>
  <small class="description">
    <%= 0.days.ago.strftime("Dernière synchronisation le %d/%m/%Y") %>
  </small>
  <h2 class="description">
    Mon impact carbone
  </h2>
  <div class="row justify-content-center track_1">
    <div class="col-md-4">
      <div class="card bg-info text-center carbone-count" data-toggle="popover" data-html="true" data-placement="bottom" title="" data-content="Il est calculé à partir de tes dépenses du mois, que nous comparons avec la même période sur le mois précédent pour anticiper son évolution.<br><a href='/pages/faq' target='_blank'>En savoir plus</a>" data-container="body" data-original-title="Ton impact du mois">
        <div class="card-header card-header-info">
          <h4>
            En
            <%= l(5.days.ago, format: '%B') %>
          </h4>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-7 text-right">
              <p class="number number-lg">
                <%= number_with_precision(788, precision: 0) %>
              </p>
            </div>
            <div class="col-4 text-left" style="margin-left: -20px;">
              <span style="opacity:0.5; font-weight:bold;">
                kg CO2
              </span><br>
              <%= image_tag "arrow-red.png", class: 'img-fluid', :style => "width:50%;", "data-toggle" => "tooltip", "data-placement" => "bottom", "data-container" => "body", "data-original-title" => "Ton impact carbone est 32% plus élevé que le mois dernier 😱 encore un effort !" %>
            </div>
          </div>
          <%= link_to "Voir le détail", "#details", class: "btn btn-sm btn-outline-white btn-round" %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-dark text-center carbone-count" data-toggle="popover" data-html="true" data-placement="bottom" title="" data-content="Il est calculé à partir de tes dépenses de l'année en cours, que nous comparons avec la même période sur l'année précédente (si nous avons assez d'historique) pour anticiper son évolution.<br><a href='/pages/faq' target='_blank'>En savoir plus</a>" data-container="body" data-original-title="Ton impact sur l'année">
        <div class="card-header card-header-dark">
          <h4>
            En
            <%= l(0.days.ago, format: '%Y') %>
          </h4>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-8 text-right">
              <p class="number number-lg">
                <%= number_with_precision(14.4, precision: 1) %>
              </p>
            </div>
            <div class="col-4 text-left" style="margin-left: -20px;">
              <span style="opacity:0.5; font-weight:bold;">
                T CO2
              </span><br>
              <%= image_tag "arrow-green.png", class: 'img-fluid', :style => "width:50%;", "data-toggle" => "tooltip", "data-placement" => "bottom", "data-container" => "body", "data-original-title" => "Ton impact carbone est 7% plus faible que l'année dernière au même stade 💪 continue comme ça !" %>
            </div>
          </div>
          <%= link_to "Comparer aux membres", "/compare_trump_greta", class: "btn btn-sm btn-outline-white btn-round" %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header card-header-primary">
          <h4>
            Précision du compte
          </h4>
        </div>
        <div class="card-body">
          <%= render 'categories/accuracy' %>
        </div>
      </div>
    </div>
  </div>

  <h2 class="description">
    Mes tendances sur les 30 derniers jours
  </h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header card-header-info">
          <h4>
            Ma grosse catégorie
          </h4>
        </div>
        <div class="card-body">
          <div class="row justify-content-center align-items-center">
            <div class="col-3 emoji text-right">
              🥙
            </div>
            <div class="col-7 text-left">
              <p>
                <strong>Fast foods</strong> <br>
                <%= number_with_precision(192, precision: 0) %> kgCO2
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header card-header-info">
          <h4>
            Ma grosse dépense
          </h4>
        </div>
        <div class="card-body">
          <div class="row justify-content-center align-items-center">
            <div class="col-3 emoji text-right">
              🙃
            </div>
            <div class="col-7 text-left">
              <p>
                <strong>CB Fouquet's</strong> <br>
                <%= number_with_precision(78, precision: 0) %> kgCO2
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header card-header-info">
          <h4>
            Ma grosse augmentation
          </h4>
        </div>
        <div class="card-body">
          <div class="row justify-content-center align-items-center">
            <div class="col-3 emoji text-right">
              🛴
            </div>
            <div class="col-8 text-left">
              <p>
                <strong>Trotinettes</strong> <br>
                +68 % en 3 mois
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <%= render 'categories/analysis_carousel' %>
    </div>
  </div>

  <h2 class="description" id="details">
    Détail de mon impact carbone
  </h2>
  <div class="row text-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4>Evolution de mon impact par mois</h4>
          <%= area_chart @categories.map { |category|
            { name: category.name, data: @transactions[category.id], dataset: {backgroundColor: category.color, borderColor: category.color}, color: category.color }
            }, defer: true, points: false, :style => "margin-top:30px;", suffix: " kg", decimal: ",", stacked: true %>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4>Répartition de mon impact par mois</h4>
          <%= render 'categories/month_nav' %>
          <div class="row">
            <div class="piechart-title text-center">
              <div>
                <span class="number number-md"><%= number_with_precision(@carbone_total, precision: 0) %></span>
                <br>kgCO2
              </div>
            </div>
            <div class="col-md-4 mt-auto mb-auto d-none d-md-block">
              <%= image_tag("category_left.png", class: "img-fluid illustration") %>
            </div>
            <div class="col-md-4 mt-auto mb-auto">
              <%= pie_chart @categories.map { |c| [c.name,@transactions[c.id][l(0.months.ago, format: '%B %y')]] }, donut: true, legend: "none", suffix: " kgCO2" %>
            </div>
            <div class="col-md-4 mt-auto mb-auto d-none d-md-block">
              <%= image_tag("category_right.png", class: "img-fluid illustration") %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table text-left table-category">
                <thead>
                  <tr>
                      <th />
                      <th>Type</th>
                      <th class="d-none d-md-table-cell">kgCO2</th>
                      <th>Part</th>
                      <!-- <th>Précision</th> -->
                      <th />
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-end">
    <div class="col-md-6">
      <h2 class="description">
        A ton tour <%= current_user.name %> !
      </h2>
      <p>Toi aussi tu veux tout savoir sur ton impact et agir plus concrètement pour le climat ?</p>
      <p>Laisse opérer la magie Carbo en synchronisant ton relevé bancaire.<strong> C’est gratuit, sûr et sécurisé.</strong></p>
      <p><%= link_to "En savoir plus >", "/pages/security", :target => '_blank' %></p>
    </div>
    <div class="col-md-6 text-center">
      <%= image_tag("illu1_projects3.png", class: "img-fluid illustration", style: "margin-bottom: -30px; width:50%") %>
      <%= link_to "Connecter mon relevé", '/waitilist', class: "btn btn-lg btn-primary btn-round" %>
    </div>
  </div>
