<div class="row">
  <div class="col-lg-10 col-md-12 ml-auto mr-auto">
    <div class="card">
          <div class="card-body">
            <h3><strong>
              <small>3 minutes pour offrir Carbo</small>
              <br>
              Vérifie tes infos et confirme ton paiement
            </strong></h3>
            <div class="row justify-content-center ecommerce">
              <div class="col-md-6 col-lg-5">
                <div class="card payment-detail-card">
                  <div class="card-header card-header-<%= @color %> text-center">
                    <%= image_tag @image, class: 'img-fluid', :style => 'height: 80px;' %>
                  </div>
                  <div class="card-body">
                    <h5 class="text-<%= @color %>">
                      <small class="description">
                        MA FORMULE<br>
                      </small>
                      FORMULE <%= @gift.formula.upcase %>
                    </h5>
                    <p>
                      Au total, je compense <%= number_with_precision(@carbone_count, precision: 0) %>kg de carbone pour <%= @gift.recipient_name %>
                    </p>
                    <h5 class="text-<%= @color %>">
                      <small class="description">
                        MON IMPACT<br>
                      </small>
                    </h5>
                    <p>
                      Je retire de la route l’équivalent de <%= [number_with_precision(@carbone_count/200, precision:0).to_i,1].max %> voitures pendant <%= [number_with_precision(@carbone_count/Country.find(@gift.country_id).total*12/1000, precision:0).to_i,1].max %> mois.
                    </p>
                    <h5 class="text-<%= @color %>">
                      <small class="description">
                        MON PAIEMENT<br>
                      </small>
                      TOTAL <%= number_with_precision(@price, precision: 2) %>€ TTC
                    </h5>
                  </div>
                  <div class="card-footer">
                    <strong>
                      <%= link_to "Changer de formule >", "/gifts/#{@gift.id}/choose_formula" %>
                    </strong>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-5">
                <div class="card text-center payment-card">
                  <div class="card-title">
                    <h4 class="card-title">Entre tes informations de paiement</h4>
                  </div>
                  <div class="card-body">

                    <%= form_tag "/gifts/#{@gift.id}/submit", id: "payment-form" do |form| %>
                      <div class="field text-left">
                        <label for="card-element" class="">Paiement par carte de crédit ou de débit</label>

                        <div id="card-element" class="MyCardElement">
                          <!-- A Stripe element will be intserted here !-->
                        </div>

                        <div id="card-errors" role="alert"></div>

                        <%= hidden_field_tag :price, @gift.price %>

                      </div>
                      <p id="cgv">
                        En validant mon paiement, j'accepte les conditions générales de vente de carbo.
                      </p>
                      <button class="btn btn-lg btn-round btn-primary">Valider mon paiement</button>
                      <p class="description">
                        <small><i class="material-icons" style="vertical-align:middle;">lock</i>Paiements sécurisés et réalisés avec Stripe</small>
                      </p>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>
  </div>
</div>
