<% content_for :title do %>Offrir une vie neutre en carbone en 5 minutes<% end %>
<% content_for :description do %>Compense l’impact d’un proche en finançant pour lui nos projets contre le changement climatique. À partir de 5€ seulement !<% end %>
<div class="page-header home-section home-section1">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-auto mb-auto">
        <span class="badge badge-pill badge-primary d-none d-md-inline">🎅 Offre limitée</span>
        <h1>Offrir une vie neutre en carbone</h1>
        <h4 class="description">
          Compense l’impact d’un proche en finançant pour lui nos projets contre le changement climatique
        </h4>
        <%= link_to "Offrir Carbo", new_gift_path, class: "btn btn-lg btn-round btn-primary" %>
      </div>
      <div class="col-md-6 d-none d-md-block">
        <%= image_tag("phone_section1_gift.png", class: "img-fluid") %>
      </div>
    </div>
  </div>
</div>
<div class="page-header home-section home-section3" id="section3">
  <div class="container">
    <div class="row">
      <div class="col-md-9 ml-auto mr-auto text-center">
        <h2>Faire plaisir en agissant pour la planète</h2>
        <h4 class="description">
          Tic tac, l’échéance approche. Tu as 3 min et tu cherches un cadeau utile et original ? Offre un abonnement Carbo de la durée de ton choix à un proche, et permet lui de compenser son impact carbone !
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <%= image_tag("illu1_section3.png", class: "img-fluid") %>
        <div class="card">
          <div class="card-body justify-content">
            <div class="row">
              <div class="col-2">
                <p class="number number-lg">
                  1
                </p>
              </div>
              <div class="col-8">
                <h4>
                  Estime son impact en 12 secondes
                </h4>
              </div>
            </div>
            <p class="description">
              Carbo s’appuie sur les données nationales de la Commission Européenne pour estimer son impact
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <%= image_tag("illu2_section3.png", class: "img-fluid") %>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-2">
                <p class="number number-lg">
                  2
                </p>
              </div>
              <div class="col-8">
                <h4>
                  Compense son empreinte carbone
                </h4>
              </div>
            </div>
            <p class="description">
              Choisis la durée durant laquelle tu souhaites compenser son impact
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <%= image_tag("illu3_section3_gift.png", class: "img-fluid") %>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-2">
                <p class="number number-lg">
                  3
                </p>
              </div>
              <div class="col-8">
                <h4>
                  Personnalise ton cadeau
                </h4>
              </div>
            </div>
            <p class="description">
              Joins l’utile à l’agréable en ajoutant ta petite touche perso avant de l’envoyer
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <%= link_to "Offrir Carbo", new_gift_path, class: "btn btn-lg btn-round btn-danger" %>
    </div>
  </div>
</div>
<div class="page-header home-section home-section4">
  <div class="container mt-auto mb-auto">
    <div class="row">
      <div class="col-md-4 offset-md-1 mt-auto mb-auto">
        <h2>Un cadeau pour tous les budgets</h2>
        <p class="description">
          Si ton proche a un profil similaire à la majorité des membres Carbo, compenser 1 mois de son impact carbone devrait coûter 12€ ou moins.
        </p>
        <%= link_to "Choisir une formule", new_gift_path, class: "btn btn-lg btn-round btn-primary" %>
      </div>
      <div class="col-md-7 d-none d-md-block">
        <%= image_tag("gift_section4.png", class: "img-fluid") %>
      </div>
    </div>
  </div>
</div>
<div class="page-header home-section home-section5">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-7 d-none d-md-block">
        <%= image_tag("gift_section5.png", class: "img-fluid", :style => "margin-left:-35px;") %>
      </div>
      <div class="col-md-4">
        <h2>Des projets qui changent des vies</h2>
        <p class="description mobile-contrast">
          Oui, les projets supportés par la communauté Carbo font plus que lutter contre le changement climatique : ils changent des vies !
        </p>
        <p class="description mobile-contrast">
          Et pas besoin de nous croire sur parole : l’abonnement Carbo inclut pour ton proche un suivi régulier de l’évolution des projets financés.
        </p>
        <%= link_to "Plus d'informations sur les projets", new_project_path, class: "btn btn-info btn-round" %>
      </div>
    </div>
  </div>
</div>
