<%= form_with(model: bridge, local: true) do |form| %>
  <% if bridge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bridge.errors.count, "error") %> prohibited this bridge from being saved:</h2>

      <ul>
      <% bridge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :user_id, :value => @user.id %>
  </div>

  <div class="actions text-center">
    <%= form.submit "Activer le mode dynamique", :class => 'btn btn-primary btn-round' %>
    <%= link_to "Plus tard", '/later', class: 'btn btn-outline-primary btn-round' unless cookies[:bridge] == "true" %>
  </div>
<% end %>
