<div class="row">
  <div class="col-lg-11 col-md-12 ml-auto mr-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-7">
          <div class="card-body">
            <h3><strong>
              <small>Merci <%= current_user.name %>, on se connait déjà un peu mieux</small>
              <br>
              Active le mode dynamique pour suivre ton impact dans le temps
            </strong></h3>
            <p>
              Tes choix quotidiens évoluent. Avec le mode dynamique de Carbo, ton calcul est automatique et constamment à jour !
            </p>
            <p>
              Pour l’activer, Carbo analyse ton relevé bancaire grâce à la technologie Bridge de Bankin’, agréée par l'ACPR (autorité administrative adossée à la Banque de France), encadrée par la directive européenne sur les services financiers (DSP2) et reconnue comme le spécialiste de la finance digitale en Europe.
            </p>
            <p><%= link_to "En savoir plus >", "/pages/security", :target => "_blank"  %></p>
            <%= render 'form', bridge: @bridge %>
          </div>
        </div>
        <div class="col-md-5 d-none d-md-block align-self-center">
          <div class="card-body security-details text-center">
            <h5>Carbo est gratuit, sûr et sécurisé</h5>
            <div class="row align-items-center">
              <div class="col-3">
                <%= image_tag "security_1_white.png", class: "img-fluid" %>
              </div>
              <div class="col-9 text-left">
                Aucun accès à tes identifiants, CB ou autre moyen de paiement
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-3">
                <%= image_tag "security_2_white.png", class: "img-fluid", :style => 'width: 80%;' %>
              </div>
              <div class="col-9 text-left">
                Données stockées dans des serveurs protégés 24h/24
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-3">
                <%= image_tag "security_3_white.png", class: "img-fluid" %>
              </div>
              <div class="col-9 text-left">
                Utilisé régulièrement par de nombreuses banques
                <br>
                <%= image_tag "bank_3.png", class: "img-fluid bank" %>
                <%= image_tag "bank_4.png", class: "img-fluid bank" %>
                <%= image_tag "bank_6.png", class: "img-fluid bank" %>
                <%= image_tag "bank_8.png", class: "img-fluid bank" %>
                <%= image_tag "bank_10.png", class: "img-fluid bank" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
