<div class="row">
  <div class="col-lg-9 col-md-12 ml-auto mr-auto">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-end">
          <div class="col-md-6">
            <h3><strong>
              <small>Bienvenue à bord <%= current_user.name %> !</small>
              <br>
              Commence par quelques informations de base
            </strong></h3>
            <p>
              Réponds simplement à ces 3 questions pour permettre à Carbo d’enrichir l’analyse de tes dépenses et de comparer tes résultats.
            </p>
            <%= form_for @preference do |form| %>
            <div class="row justify-content-center">
              <div class="col-md-9">
                <div class="field">
                  <%= form.hidden_field :user_id, :value => @user.id %>
                </div>
                <div class="form-group">
                  <%= form.label  "Dans quelle ville se trouve ton logement principal ?" %>
                  <%= form.text_field :city, class: 'form-control', :autofocus => true %>
                </div>
                <div class="form-group">
                  <%= form.label  "Comment décrirais-tu ton régime alimentaire ?" %>
                  <%= form.select(:regime, Preference.regimes.keys.map {|regime| [regime.titleize,regime]}, {}, {:class => 'form-control selectpicker'}) %>
                </div>
                <div class="form-group">
                  <%= form.label  "Quelle est la part de renouvelable dans ton contrat d'énergie ?" %>
                  <%= form.select(:energy_contract, Preference.energy_contracts.keys.map {|regime| [regime.humanize,regime]}, {}, {:class => 'form-control selectpicker'}) %>
                  <!-- <div id="sliderRegular" class="slider"></div>
                  <span id="energy_contract">
                  </span> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <%= image_tag("onboarding_3.png", :class => 'img-fluid d-none d-md-block') %>
            <div class="actions">
              <%= form.submit 'Valider mes informations', class: 'btn btn-primary btn-round' %>
              <%= link_to "Plus tard", bridges_path, class: 'btn btn-outline-primary btn-round' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ol class="onboarding-indicator">
      <li class="active"></li>
      <li class=""></li>
      <li class=""></li>
    </ol>
  </div>
</div>
