<div class="row align-items-center justify-content-center">
  <div class="col-md-6">
    <div class="map-parent">
      <%= image_tag "Pur_Projet_Map.png", :id => 'map' %>
      <%= image_tag "Pur_Projet_Nord.png", class: 'map-child', :id => 'child-1' %>
      <%= image_tag "Pur_Projet_Aquitaine.png", class: 'map-child', :id => 'child-2' %>
      <%= image_tag "Pur_Projet_Med.png", class: 'map-child', :id => 'child-3' %>
    </div>
  </div>
  <div class="col-md-6 col-lg-5 text-center" id="project-container">
    <div class="card card-blog local-project-card active" id="project-1">
      <div class="card-header card-header-image">
        <%= image_tag "Carbo_Nord_1.jpg", :style => "object-fit: cover;" %>
        <div class="card-title">
          <h4>Carbo Nord</h4>
          <%= image_tag "Picto_Projet_Nord.png", class: "img-fluid w-25" %>
        </div>
      </div>
      <div class="card-body">
        <p>
          Réparti en Ile de France, Champagne-Ardennes et Hauts de France, ce projet accompagne les agriculteurs qui souhaitent faire évoluer leurs pratiques en faveur de la protection des sols, de l’adaptation de leur territoire face au changement climatique.
        </p>
        <%= link_to "Planter mes arbres ici", "/subscriptions/formula?project=1", class: "btn btn-round btn-danger" %>
      </div>
      <div class="card-footer">
        <%= link_to "En savoir plus", "https://www.hellocarbo.com/contribuer-projet-carbo-nord/", class: "btn btn-link btn-primary", :target => "_blank" %>
      </div>
    </div>
    <div class="card card-blog local-project-card" id="project-2">
      <div class="card-header card-header-image">
        <%= image_tag "Carbo_Ouest_1.jpg", :style => "object-fit: cover;" %>
        <div class="card-title">
          <h4>Carbo Ouest</h4>
          <%= image_tag "Picto_Projet_Aquitaine.png", class: "img-fluid w-25" %>
        </div>
      </div>
      <div class="card-body">
        <p>
          Situé sur un territoire très diversifié, entre littoral Atlantique et Massif Central, ce projet répond aux enjeux spécifiques de la Loire & Garonne en favorisant le développement de l'agroforesterie et des pratiques d’agricultures régénératives des sols
        </p>
        <%= link_to "Planter mes arbres ici", "/subscriptions/formula?project=2", class: "btn btn-round btn-info" %>
      </div>
      <div class="card-footer">
        <%= link_to "En savoir plus", "https://www.hellocarbo.com/contribuer-projet-carbo-ouest/", class: "btn btn-link btn-primary", :target => "_blank" %>
      </div>
    </div>
    <div class="card card-blog local-project-card" id="project-3">
      <div class="card-header card-header-image">
        <%= image_tag "Carbo_Sud_2.jpg", :style => "object-fit: cover;" %>
        <div class="card-title">
          <h4>Carbo Sud</h4>
          <%= image_tag "Picto_Projet_Med.png", class: "img-fluid w-25" %>
        </div>
      </div>
      <div class="card-body">
        <p>
          Focus sur la Méditerranée, une des régions qui risque de souffrir le plus du changement climatique en France, avec des enjeux liés à l'accès à l'eau et à la protection des cultures et des animaux contre les évènements climatiques extrêmes.
        </p>
        <%= link_to "Planter mes arbres ici", "/subscriptions/formula?project=3", class: "btn btn-round btn-warning" %>
      </div>
      <div class="card-footer">
        <%= link_to "En savoir plus", "https://www.hellocarbo.com/contribuer-projet-carbo-sud/", class: "btn btn-link btn-primary", :target => "_blank" %>
      </div>
    </div>
  </div>
</div>

<script>
  $( "#child-1" ).click(function() {
    $(".local-project-card.active").removeClass( "active" );
    $("#project-1").addClass( "active" );
    analytics.track("Project clicked", {user_id: <%= current_user.id %>});
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#project-container").offset().top
    }, 200);
  });
  $( "#child-2" ).click(function() {
    $(".local-project-card.active").removeClass( "active" );
    $("#project-2").addClass( "active" );
    analytics.track("Project clicked", {user_id: <%= current_user.id %>});
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#project-container").offset().top
    }, 200);
  });
  $( "#child-3" ).click(function() {
    $(".local-project-card.active").removeClass( "active" );
    $("#project-3").addClass( "active" );
    analytics.track("Project clicked", {user_id: <%= current_user.id %>});
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#project-container").offset().top
    }, 200);
  });
</script>
