<% content_for :title, "Activer mon forfait" %>
<h3 class="text-center text-info" style="margin-bottom:20px;">
  On neutralise ton impact carbone <%= current_user.name %> ?
</h3>
<p class="text-center big description">
  Merci de vérifier ton choix et de confirmer ton paiement mensuel 👇
</p>
<div class="row justify-content-center">
  <div class="col-md-5 col-lg-4">
    <div class="card payment-detail-card">
      <div class="card-header card-header-<%= @color %> text-center">
        <h5>PROJET <%= @name.upcase %></h5>
        <%= image_tag @logo, class: 'img-fluid', :style => 'height:70px;margin-bottom:-35px;margin-top:10px;' %>
      </div>
      <div class="card-body">
        <h5 class="text-<%= @color %>">
          <small class="description">
            MON FORFAIT<br>
          </small>
          CARBO <%= params[:plan].upcase %>
        </h5>
        <p>
          Je compense <%= number_with_precision(@carbone_count*12*100 / (@score.total*1000), precision: 0) %>% de mon impact
        </p>

        <h5 class="text-<%= @color %>">
          <small class="description">
            MON PAIEMENT<br>
          </small>
          <%= number_with_precision(@price, precision: 2) %>€ TTC / mois
        </h5>
      </div>
      <div class="card-footer">
        <strong>
          <%= link_to "Modifier >", "/subscriptions/project#project-container" %>
        </strong>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-lg-4">
    <div class="card text-center payment-card">
      <h4 class="card-title">Entre tes informations de paiement</h4>
      <div class="card-body">
        <%= form_tag subscriptions_path, id: "payment-form" do |form| %>
          <div class="field text-left">
            <label for="card-element" class="">Paiement par carte de crédit</label>

            <div id="card-element" class="MyCardElement">
              <!-- A Stripe element will be intserted here !-->
            </div>

            <div id="card-errors" role="alert"></div>

            <%= hidden_field_tag :plan_id, Rails.application.credentials[:stripe][Rails.env.to_sym][:static_plan] %>
            <%= hidden_field_tag :quantity, params[:quantity] %>
            <%= hidden_field_tag :plan, params[:plan] %>
          </div>
          <p id="cgv">
            En activant mon forfait, j'accepte les
            <%= link_to "conditions générales de vente de carbo", "https://www.hellocarbo.com/conditions-generales-utilisation/", :target => "_blank" %>.
          </p>
          <button class="btn btn-round btn-primary">Activer mon forfait</button>
          <p class="description">
            <small><i class="material-icons" style="vertical-align:middle;">lock</i>Paiements sécurisés par Stripe</small>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <h5 class="description" style="opacity:0.8; margin-top:25px;">De bonnes raisons pour passer à l'action</h5>
</div>
<div class="row justify-content-center assurance text-center">
  <div class="col-md-3 col-4">
    <p class="emoji">🚗</p>
    <p class="description">
      Je retire chaque mois de la route l'équivalent de <%= number_with_precision(@price/2, precision:0) %> voitures
    </p>
  </div>
  <div class="col-md-3 col-4">
    <p class="emoji">🏆</p>
    <p class="description">
      Je finance des projets de qualité avec un impact à long terme
    </p>
  </div>
  <div class="col-md-3 col-4">
    <p class="emoji">☝</p>
    <p class="description">
      Forfait sans engagement, annulable en 1 clic
    </p>
  </div>
</div>
