<% content_for :title, "Contribuer" %>

<div class="row justify-content-center text-center">
  <div class="col-lg-5 col-md-6">
    <%= render 'contribution_total' %>
  </div>
  <div class="col-lg-5 col-md-6">
    <%= render 'contribution_target' %>
  </div>
</div>
<h2 class="description text-center" style="margin-top:0;">
  Comment ça marche ?
</h2>
<div class="row justify-content-center text-center">
  <div class="col-lg-10 col-md-12">
    <%= render 'contribution_carousel' %>
    <%= link_to "👇🌳 Démarrer ma plantation 🌳👇", "#impact-local", class: "btn btn-lg btn-primary btn-link", :style => "font-size:1em;margin-top:-20px;" %>
  </div>
</div>
<h2 class="description text-center" id="impact-local">
  Mon impact local
</h2>
<p class="text-center">
  Sélectionne une région sur la carte pour découvrir les projets et démarrer ta plantation !
</p>
<%= render 'local_project_selector' %>

<div class="row justify-content-center">
  <div class="col-lg-9 col-md-11">
    <div class="row align-items-center" style="margin-top:40px;margin-bottom:40px;">
      <div class="col-md-4">
        <%= image_tag "Tristan_quote.png", class: "img-fluid" %>
      </div>
      <div class="col-md-8">
        <p class="description" style="color:#828282;font-weight:bold;">
          Chez Pur Projet, nous avons une conviction forte : la nature est le meilleur investissement à faire aujourd’hui. S’associer à Carbo, c’est permettre à chacun de neutraliser son impact et d’agir localement.
        </p>
        <p>
          <span class="big">Tristan Lecomte</span> - Fondateur de Pur Projet
        </p>
      </div>
    </div>
  </div>
</div>
<h2 class="description text-center">
  Questions fréquentes
</h2>
<div class="row justify-content-center text-center">
  <div class="col-lg-10 col-md-12">
    <%= render 'contribution_faq' %>
  </div>
</div>
