<div class="col-md-10">
  <div class="card">
    <div class="card-body">
      <p class="big">
        Comparer ton impact, rien de tel pour se bouger le cocotier ! Cela permet de mieux te situer et de placer tes efforts. Alors, on fait ça avec qui ?
      </p>
      <div class="carousel slide opponent-carousel"  id="carouselExampleIndicators" data-ride="carousel" data-interval="false" style="margin-top:20px;">
        <div class="carousel-inner">
          <div class="carousel-item justify-content-center <%= "active" unless params[:opponent] %>">
              <div class="col-md-2 col-4">
                <%= link_to("/users/invitation/new") do %>
                  <div class="ml-auto mr-auto">
                    +
                  </div>
                  <span style="font-size: 0.75em;line-height:1em;">Inviter un proche</span>
                <% end %>
              </div>
            </div>
          <% Match.user_matches(current_user).sort_by {|m| m.id}.each do |match| %>
            <div class="carousel-item <%= "active" if match.id == (params[:opponent].to_i || 2) %> justify-content-center">
              <div class="col-md-2 col-4">
                <%= link_to("/matches?opponent=#{match.id}", class: "#{'active' if match.id == (params[:opponent] || Match.all.first.id).to_i}") do %>
                  <%= image_tag match.image, class: "img-fluid" %>
                  <%= (match.name || User.find(match.opponent_id).email).truncate(14, ommission: '..') %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <i class="material-icons">arrow_back</i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <i class="material-icons">arrow_forward</i>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- JavaScript for adding slider for multiple images shown at once-->
<script type="text/javascript">
        $(document).ready(function(){
            $(".carousel .carousel-item").each(function() {
                var i = $(this).next();
                i.length || (i = $(this).siblings(":first")),
                  i.children(":first-child").clone().appendTo($(this));

                for (var n = 0; n < 3; n++)(i = i.next()).length ||
                  (i = $(this).siblings(":first")),
                  i.children(":first-child").clone().appendTo($(this))
            })
        });
</script>
