<div class="col-md-10">
  <div class="card">
    <div class="card-body">
      <p class="big">
        Comparer ton impact, rien de tel pour se bouger le cocotier ! Cela permet de mieux te situer et de placer tes efforts. Alors, on fait ça avec qui ?
      </p>
      <div class="carousel slide opponent-carousel"  id="carouselExampleIndicators" data-ride="carousel" data-interval="false" style="margin-top:20px;">
        <div class="carousel-inner">
          <div class="carousel-item justify-content-center <%= "active" unless params[:opponent] %>">
              <div class="col-md-2 col-4">
                <%= link_to("", "data-toggle" => "modal", "data-target" => "#invite", "aria-expanded" => "false", "aria-controls" => "modal") do %>
                  <div class="ml-auto mr-auto">
                    +
                  </div>
                  <span style="font-size: 0.75em;line-height:1em;">Inviter un proche</span>
                <% end %>
              </div>
            </div>
          <% Match.user_matches(current_user).sort_by {|m| m.id}.each do |match| %>
            <div class="carousel-item <%= "active" if match.id == (params[:opponent].to_i || 2) %> justify-content-center">
              <div class="col-md-2 col-4">
                <%= link_to("/matches?opponent=#{match.id}", class: "#{'active' if match.id == (params[:opponent] || Match.all.first.id).to_i}") do %>
                  <%= image_tag match.image, class: "img-fluid" %>
                  <%= (match.name || User.find(match.opponent_id).email).truncate(14, ommission: '..') %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <i class="material-icons">arrow_back</i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <i class="material-icons">arrow_forward</i>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="invite" tabindex="-1" role="dialog" aria-labelledby="inviteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="inviteModalLabel">Mais qui a la meilleure empreinte carbone ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Pour en avoir le coeur net, invite tes proches, amis ou collègues à se comparer via
        </p>
        <div class="row text-center">
          <div class="col-6">
            <%= link_to "https://www.facebook.com/sharer/sharer.php?u="+short_url("https://app.hellocarbo.com/users/sign_up?invite=#{current_user.invite_encrypt}&utm_medium=referral&utm_source=facebook&utm_campaign=invitation_link", url_options: { protocol: 'https' }), class: 'btn btn-round', :style => "background:#39569c;min-width:150px;", :target => "_blank" do %>
              <%= image_tag "Logo-Carbo-White.png", :style => 'width:20px;margin-right:10px;' %>
              Facebook
            <% end %>
          </div>
          <div class="col-6">
            <%= link_to "https://wa.me/?text=Psss...%20à%20mon%20avis,%20mon%20empreinte%20carbone%20est%20meilleure%20que%20la%20tienne%20😎%20Viens%20te%20mesurer%20à%20moi%20sur%20un%20site%20génial,%20Carbo,%20avec%20ce%20lien%20d%E2%80%99invitation%20rien%20que%20pour%20toi%20🥊%20"+short_url("https://app.hellocarbo.com/users/sign_up?invite=#{current_user.invite_encrypt}&utm_medium=referral&utm_source=whatsapp&utm_campaign=invitation_link", url_options: { protocol: 'https' }), class: 'btn btn-round', :style => "background:#25D366;min-width:150px;", :target => "_blank" do %>
              <%= image_tag "Logo-Carbo-White.png", :style => 'width:20px;margin-right:10px;' %>
              WhatsApp
            <% end %>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-6">
            <%= link_to "https://www.linkedin.com/shareArticle?mini=true&url="+short_url("https://app.hellocarbo.com/users/sign_up?invite=#{current_user.invite_encrypt}&utm_medium=referral&utm_source=linkedin&utm_campaign=invitation_link", url_options: { protocol: 'https' }), class: 'btn btn-round', :style => "background:#0e76a8;min-width:150px;", :target => "_blank" do %>
              <%= image_tag "Logo-Carbo-White.png", :style => 'width:20px;margin-right:10px;' %>
              LinkedIn
            <% end %>
          </div>
          <div class="col-6">
            <%= link_to "https://twitter.com/intent/tweet?text=Aujourd’hui%20j’ai%20découvert%20@hellocarbo,%20un%20outil%20génial%20pour%20réduire%20et%20compenser%20mon%20impact%20carbone%20!%20Viens%20comparer%20ton%20empreinte%20à%20la%20mienne%20avec%20ce%20lien%20d%E2%80%99invitation%20:%20&url=" + short_url("https://app.hellocarbo.com/users/sign_up?invite=#{current_user.invite_encrypt}&utm_medium=referral&utm_source=twitter&utm_campaign=invitation_link", url_options: { protocol: 'https' }) + "&hashtags=changementclimatique%2Cjagispourlaplanete", class: 'btn btn-round', :style => "background:#00acee;min-width:150px;", :target => "_blank" do %>
              <%= image_tag "Logo-Carbo-White.png", :style => 'width:20px;margin-right:10px;' %>
              Twitter
            <% end %>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-6">
            <%= link_to "sms:&body=Psss...à%20mon%20avis,%20mon%20empreinte%20carbone%20est%20meilleure%20que%20la%20tienne%20:lunettes_de_soleil:%20Viens%20te%20mesurer%20à%20moi%20sur%20un%20site%20génial,%20Carbo,%20avec%20ce%20lien%20d%E2%80%99invitation%20rien%20que%20pour%20toi%20:gant_de_boxe:%20"+short_url("https://app.hellocarbo.com/users/sign_up?invite=#{current_user.invite_encrypt}&utm_medium=referral&utm_source=sms&utm_campaign=invitation_link", url_options: { protocol: 'https' }), class: 'btn btn-round', :style => "background:#0d7c4a;min-width:150px;", :target => "_blank" do %>
              <%= image_tag "Logo-Carbo-White.png", :style => 'width:20px;margin-right:10px;' %>
              SMS
            <% end %>
          </div>
          <div class="col-6">
            <%= link_to "/users/invitation/new", class: 'btn btn-round', :style => "min-width:150px;", :target => "_blank" do %>
              <%= image_tag "Logo-Carbo-White.png", :style => 'width:20px;margin-right:10px;' %>
              Email
            <% end %>
          </div>
        </div>
        <hr>
        <p>
          ou en partageant ton lien d'invitation
        </p>
        <p>
          <input id="myInput" value="<%= short_url("https://app.hellocarbo.com/users/sign_up?invite=#{current_user.invite_encrypt}&utm_medium=referral&utm_source=invitation_link&utm_campaign=invitation_link", url_options: { protocol: 'https' }) %>" style="background:transparent;color:white;width:230px;border:none;" />
          <%= link_to "", :onclick => 'myFunction()' do %>
            <i class="material-icons" style="font-size:30px;margin-bottom:0;">file_copy</i>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- JavaScript for adding slider for multiple images shown at once-->
<script type="text/javascript">
        $(document).ready(function(){
            $(".carousel .carousel-item").each(function() {
                var i = $(this).next();
                i.length || (i = $(this).siblings(":first")),
                  i.children(":first-child").clone().appendTo($(this));

                for (var n = 0; n < 3; n++)(i = i.next()).length ||
                  (i = $(this).siblings(":first")),
                  i.children(":first-child").clone().appendTo($(this))
            })
        });
function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /*For mobile devices*/

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Lien d'invitation copié");
  analytics.track("Invitation link copied", {user_id: <%= current_user.id %>});
}
$( "#invite .btn-round" ).click(function() {
  analytics.track("Invitation link shared", {user_id: <%= current_user.id %>});
  });
</script>
