
<div class="thermometre-parent">
  <%= image_tag "thermometre.png", class: "thermometre" %>
  <%= image_tag "thermometre_graduation.png", class: "thermometre-graduation" %>
  <div class="progress-container vertical">
    <div class="progress progress-line-primary">
      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:<%= [number_with_precision(@match_data[3] / 10, precision: 0) .to_i, 100].min  %>%;">
      </div>
    </div>
  </div>
  <div class="badge-left" style="bottom:<%= [number_with_precision(@match_data[3] / 10, precision: 0) .to_i, 90].min %>%;">
    <div class="row align-items-center">
      <div class="col-7 text-right">
        <p><strong>
          TOI
          <small><%= number_with_precision(@match_data[3], precision: 0) %></small>
        </strong></p>
      </div>
      <div class="col-5 text-left">
        <%= image_tag 'badge_avatar.png', class: 'img-fluid' %>
      </div>
    </div>
  </div>
  <div class="badge-left" style="bottom:<%= [number_with_precision(@match_data[4] / 10, precision: 0).to_i, 90].min  %>%;">
    <div class="row align-items-center">
      <div class="col-7 text-right">
        <p><strong>
          <%= @opponent.name %>
          <small><%= number_with_precision(@match_data[4], precision: 0) %></small>
        </strong></p>
      </div>
      <div class="col-5 text-left">
        <%= image_tag @opponent.badge, class: 'img-fluid' %>
      </div>
    </div>
  </div>
  <div class="badge-right" id="france" style="bottom:<%= number_with_precision(620 / 10, precision: 0)  %>%;">
    <div class="row align-items-center">
      <div class="col-5 text-right">
        <%= image_tag 'badge_france.png', class: 'img-fluid' %>
      </div>
      <div class="col-7 text-left">
        <p><strong>
          Un français<br>
          <small>620</small>
        </strong></p>
      </div>
    </div>
  </div>
  <div class="badge-right" id="carbo" style="bottom:<%= number_with_precision(460 / 10, precision: 0)  %>%;">
    <div class="row align-items-center">
      <div class="col-5 text-right">
        <%= image_tag 'badge_carbo.png', class: 'img-fluid' %>
      </div>
      <div class="col-7 text-left">
        <p><strong>
          Un membre Carbo<br>
          <small>460</small>
        </strong></p>
      </div>
    </div>
  </div>
  <div class="badge-right" id="accord_paris" style="bottom:<%= number_with_precision(165 / 10, precision: 0)  %>%;">
    <div class="row align-items-center">
      <div class="col-5 text-right">
        <%= image_tag 'badge_earth.png', class: 'img-fluid' %>
      </div>
      <div class="col-7 text-left">
        <p><strong>
          L'objectif de l'accord de Paris<br>
          <small>165</small>
        </strong></p>
      </div>
    </div>
  </div>
  <div class="description legend">
    <p>kgCO2 / mois</p>
  </div>
</div>

