<% content_for :title, "Comparer" %>
<div class="row">
  <div class="col-md-12 text-center">
    <div class="card">
      <div class="card-header card-header-info">
        <div class="emoji-title">
          📈
          <h4>Ton score</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <p>Ton impact calculé</p>
            <span class="text-danger number number-sm">
              <%= number_with_precision(@score, precision: 0) %>
              kgCO2
            </span>
          </div>
          <div class="col-2">
            <p>Ton arbre Carbo</p>
            <span class="text-primary number number-sm">
              <%= number_with_precision(@badge, precision: 0) %>
            </span>
          </div>
          <div class="col-2">
            <p>Ta forêt proche</p>
            <span class="text-primary number number-sm">
              <%= number_with_precision(@friends, precision: 0) %>
            </span>
          </div>
          <div class="col-2">
            <p>Ta compensation</p>
            <span class="text-primary number number-sm">
              <%= number_with_precision(@project, precision: 0) %>
            </span>
          </div>
          <div class="col-4">
            <span class="text-rose number number-md">
              <%= number_with_precision(@score+@badge+@friends+@project, precision: 0) %>
              kgCO2
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <div class="card">
      <div class="card-header card-header-info">
        <div class="emoji-title">
          📈
          <h4>Classement</h4>
        </div>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <tbody>
            <% @ranking.each do |r| %>
              <tr>
                <td class="text-left">
                  <%= @ranking.index(r) + 1 %>
                </td>
                <td class="text-left">
                  <%= r[:name] %>
                </td>
                <td class="text-left">
                  <%= r[:city] %>
                </td>
                <td class="text-right">
                  <span class="number number-sm">
                    <%= number_with_precision(r[:points], precision: 0) %>
                  </span>
                  kgCO2
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
