<%= link_to '/reduce' do %>
  <div class="card">
    <div class="card-header card-header-rose">
      <h4><%=@reduction_advice[0].upcase%></h4>
      <p class="big text-info mr-auto ml-auto">
         <%=@reduction_advice[2]%>
      </p>
      <div class="subtitle">
        <span><%= number_with_precision(@reduction_advice[3], precision:0) %> KGC02 ÉVITÉS PAR MOIS</span>
      </div>
    </div>
    <div class="card-body">
      <p class="description">
        Et tu pourrais économiser
        <%= number_with_precision(@reduction_advice[4]*12, precision:0) %>
        €/an ! <br>
        <strong class="text-primary">Découvre toutes tes astuces ici</strong>
      </p>
    </div>
  </div>
<% end %>
