<%= link_to '/compare_with' do %>
  <div class="card" id="comparer">
    <div class="card-header card-header-primary">
      <h4>MOYENNE DES MEMBRES</h4>
      <p class="number number-lg">
        <%= number_with_precision(@average, precision: 0) %>
      </p>
      <div class="subtitle">
        <span>
          <% if @carbone >= @average %>
            TU FAIS <%= number_with_precision((@carbone-@average)/@average*100, precision: 0) %>% DE PLUS
          <% else %>
            TU FAIS <%= number_with_precision(-1*(@carbone-@average)/@average*100, precision: 0) %>% DE MOINS
          <% end %>
        </span>
      </div>
    </div>
    <div class="card-body">
      <p class="description">
        La bonne nouvelle ? Ça reste
        <strong><%= number_with_precision(3370.0/@carbone, precision: 0) %>
        fois moins</strong> que l'inimitable Donald Trump 🇺🇸
      </p>
    </div>
  </div>
<% end %>
