<%= link_to '/track' do %>
  <div class="card" id="suivre">
    <div class="card-header card-header-info">
      <h4>
        MON IMPACT
        <% if @score.kind.to_sym == :dynamic %>
          RECENT
        <% else %>
          MOYEN
        <% end %>
      </h4>
      <p class="number number-lg">
        <%= number_with_precision(@carbone, precision: 0) %>
        <% if @score.kind.to_sym == :dynamic %>
          <% if @carbone > @week * 4.2 %>
            <%= image_tag "arrow-green.png", class: 'img-fluid', :style => "width:15%;", "data-toggle" => "tooltip", "data-placement" => "bottom", "data-container" => "body", "data-original-title" => "Ton impact carbone est en baisse 💪 continue comme ça !" %>
          <% elsif @carbone < @week * 4.2 %>
            <%= image_tag "arrow-red.png", class: 'img-fluid', :style => "width:15%;", "data-toggle" => "tooltip", "data-placement" => "bottom", "data-container" => "body", "data-original-title" => "Ton impact carbone est en hausse 😱 encore un effort!" %>
          <% else %>
            <%= image_tag "arrow-yellow.png", class: 'img-fluid', :style => "width:15%;", "data-toggle" => "tooltip", "data-placement" => "bottom", "data-container" => "body", "data-original-title" => "Ton impact carbone est stable" %>
          <% end %>
        <% end %>
      </p>
      <div class="subtitle">
        <span>KGCO2 PAR MOIS</span>
      </div>
    </div>
    <div class="card-body">
      <p class="description">
        <% case @rand when 0 %>
          L'équivalent de la fabrication de
          <%=  number_with_precision(@carbone / 15, precision: 0) %>
          jeans 👖
        <% when 1 %>
          Soit
          <%= number_with_precision(@carbone / 0.202, precision: 0) %>
          km en trotinette électrique 🛴
        <% when 2 %>
          L'empreinte de
          <%= number_with_precision(@carbone / 5, precision: 0) %>
          burgers bien gras 🍔
        <% end %>
        ou le poids de
        <%=  number_with_precision(@carbone / 180, precision: 1) %>
        hippopotames nains 🦛
      </p>
    </div>
  </div>
<% end %>
