
<%= image_tag "gland.png", class: "img-fluid accuracy-level" %>
<%= image_tag "pousse.png", class: "img-fluid accuracy-level" %>
<%= image_tag "bonsai.png", class: "img-fluid accuracy-level" %>
<%= image_tag "cocotier.png", class: "img-fluid accuracy-level" %>
<%= image_tag "baobab.png", class: "img-fluid accuracy-level" %>
<div class="progress progress-line-primary">
  <div class="progress-bar progress-bar-primary" role="progress-bar" style="width:20%;">
  </div>
</div>
<p style="margin-top:-10px;"><strong>Niveau gland</strong></p>
<%= link_to "Devenir une jeune pousse", "", class: 'btn btn-sm btn-outline-primary btn-round' %>
