      <div class="card text-center">
        <div class="card-header card-header-primary">
          <div class="emoji-title">
            🏵
            <h4>
              Mon carbo-badge
            </h4>
          </div>
        </div>
        <div class="card-body">
          <%= image_tag "gland.png", class: "img-fluid accuracy-level" %>
          <%= image_tag "pousse.png", class: "img-fluid accuracy-level" %>
          <%= image_tag "bonsai.png", class: "img-fluid accuracy-level" %>
          <%= image_tag "cocotier.png", class: "img-fluid accuracy-level" %>
          <%= image_tag "baobab.png", class: "img-fluid accuracy-level" %>
          <div class="progress progress-line-primary">
            <div class="progress-bar progress-bar-primary" role="progress-bar" style="width:20%;">
            </div>
          </div>
          <p style="margin-top:-10px;"><strong>Niveau gland</strong></p>
          <p>
            Mais bonne nouvelle jeune gland, tu vas bientôt pouvoir devenir une jeune pousse !
          </p>
          <%= link_to "Devenir une jeune pousse", "/badges", class: 'btn btn-sm btn-outline-primary btn-round' %>
        </div>
      </div>

<!-- Modal -->
<div class="modal fade" id="soon" tabindex="-1" role="dialog" aria-labelledby="soonModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="moreInfoModalLabel">Bientôt disponible</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= image_tag "gland.png", class: "img-fluid accuracy-level" %>
        <p>
          On va bientôt développer des badges Carbo pour nos membres. Le principe ? En cumulant quelques actions clefs, tu pourras accéder à des services et des avantages exclusifs et devenir maitre de ton impact carbone ! Si tu as une bonne idée, écris nous ici
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to "Je ne veux plus être un gland", "mailto:team@hellocarbo.com", class: "btn btn-round btn-primary ml-auto mr-auto" %>
      </div>
    </div>
  </div>
</div>
