<div class="card">
  <div class="card-header card-header-danger">
    <h4>FLOP</h4>
  </div>
  <div class="card-body">
    <% @count2 = 0 %>
    <% i = 0 %>
    <% 5.times do %>
      <% if @my_carbone[i][1] >= @average_carbone[i][1] && @my_carbone[i][1] > 0 %>
        <% @count2 = @count2 + 1 %>
        <div class="row align-items-center">
          <div class="col-3 emoji">
            <%= @my_carbone[i][0].emoji %>
          </div>
          <div class="col-9 text-left">
            <p>
              <% case i %>
              <% when 0 %>
                Tes repas produisent plus de carbone que la moyenne des membres (+<%= number_with_precision(-100*(@average_carbone[i][1] - @my_carbone[i][1]) / @average_carbone[i][1], precision: 0) %>%)
              <% when 1 %>
                +<%= number_with_precision(-100*(@average_carbone[i][1] - @my_carbone[i][1]) / @average_carbone[i][1], precision: 0) %>% ....ton empreinte shopping est plus forte que la moyenne <%= current_user.name %>, le savais-tu ?
              <% when 2 %>
                Home sweet home ! Ton logement génère <%= number_with_precision(-100*(@average_carbone[i][1] - @my_carbone[i][1]) / @average_carbone[i][1], precision: 0) %>% de C02 en plus que la moyenne.
              <% when 3 %>
                À ce stade, tes dépenses en loisirs et services sont <%= number_with_precision(-100*(@average_carbone[i][1] - @my_carbone[i][1]) / @average_carbone[i][1], precision: 0) %>% plus carbonées que les autres
              <% when 4 %>
                À ce stade, tes déplacements sont <%= number_with_precision(-100*(@average_carbone[i][1] - @my_carbone[i][1]) / @average_carbone[i][1], precision: 0) %>% plus carbonés que les autres membres
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
      <% i = i+1 %>
    <% end %>
    <% if @my_carbone[0][1] == 0 || @my_carbone[1][1] == 0 || @my_carbone[2][1] == 0 || @my_carbone[3][1] == 0 || @my_carbone[4][1] == 0 %>
      <% @count2 = @count2 + 1 %>
      <div class="row align-items-center">
        <div class="col-3 emoji">
          📣
        </div>
        <div class="col-9 text-left text-danger">
          <p>
            Oooops, Carbo ne dispose pas de suffisamment d’informations pour tes autres dépenses.
            <% if current_user.transactions.category_id(1).count > 0 %>
              <%= link_to "Améliorer le calcul >", "/categorize" %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
    <% if @count2 == 0 %>
      <%= image_tag 'illu_flop.png', class: "img-fluid", style: "width:30%; margin-bottom:20px; opacity:0.4;" %>
      <p class="description justify-content">
        Bien joué <%= current_user.name %>, tes dépenses sont moins carbonées que la moyenne des membres dans toutes les catégories 😳 2 conclusions possibles : soit tu n’a pas connecté ton compte bancaire principal (petit malin), soit...tu es le futur Ministre de la Transition Écologique !
      </p>
    <% end %>
  </div>
</div>
