<% if @score.kind.to_sym == :dynamic %>
    <div class="row">
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-header card-header-danger">
            <h4>
              Ma grosse catégorie
            </h4>
          </div>
          <div class="card-body">
            <div class="row justify-content-center align-items-center">
              <div class="col-3 emoji text-right">
                <%= Category.find(@score.top_category[0]).emoji %>
              </div>
              <div class="col-8 text-left">
                <p>
                  <strong><%= Category.find(@score.top_category[0]).name %></strong> <br>
                  <%= number_with_precision(@score.top_category[1], precision: 0) %> kgCO2 en 1 mois
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-header card-header-rose">
            <h4>
              Ma grosse dépense
            </h4>
          </div>
          <div class="card-body">
            <div class="row justify-content-center align-items-center">
              <div class="col-3 emoji text-right">
                🙃
              </div>
              <div class="col-7 text-left">
                <p>
                  <strong><%= @score.top_transaction[0] %></strong> <br>
                  <%= number_with_precision(@score.top_transaction[1], precision: 0) %> kgCO2
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-header card-header-violet">
            <h4>
              Ma grosse augmentation
            </h4>
          </div>
          <div class="card-body">
            <% if @score.top_growth.present? && @score.top_growth[0].present? %>
              <div class="row justify-content-center align-items-center">
                <div class="col-3 emoji text-right">
                  <%= Category.find(@score.top_growth[0]).emoji %>
                </div>
                <div class="col-9 text-left">
                  <p>
                    <strong><%= Category.find(@score.top_growth[0]).name %></strong> <br>
                    +<%= number_with_precision(@score.top_growth[1], precision: 0) %> % en 1 mois
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <div class="card">
          <div class="card-header card-header-warning">
            <div class="emoji-title">
              💳
              <h4>
                Mes dernières dépenses
              </h4>
            </div>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <tbody>
                <% @transaction_list.each do |transaction| %>
                  <tr>
                    <td class="text-left">
                      <%= Category.find(transaction.category_id).emoji %>
                    </td>
                    <td class="text-left" style="width:50%;"><%= truncate(transaction.description, :length => 33) %></td>
                    <td class="text-right"><%= number_with_precision(transaction.carbone, precision: 1) %> kgCO2</td>
                    <td class="text-right">
                      <%= link_to edit_transaction_path(transaction) do %>
                        <i class='material-icons text-warning' style="font-size:18px;">edit</i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= link_to "Voir tout l'historique", transactions_path, class: "btn btn-outline-warning btn-round" %>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <%= render 'analysis_carousel' if @score.top_category.present? %>
      </div>
      <div class="col-md-12 text-center">
        <div class="card">
          <div class="card-header card-header-info">
            <div class="emoji-title">
              📈
              <h4>
                Evolution de mon impact carbone sur 30 jours
                <span class="badge badge-pill badge-rose" style="vertical-align:middle;font-size:8px;">nouveau</span>
              </h4>
            </div>
          </div>
          <div class="card-body">
            <%= line_chart [{ name: 'Mon impact sur 30 jours', data: @average_history.map { |a| [a.created_at, current_user.transactions.carbone_contribution.where("date <= ? and date > ?", a.created_at, a.created_at - 1.month).sum(:carbone)] } }, { name: 'Moyenne des membres Carbo', data: @average_history.map { |a| [a.created_at, a.month_total*1000/12] } }], defer: true, points: false, :style => "margin-top:30px;", suffix: " kg", decimal: ",", max: 1500 %>
            <p class="description" style="margin-top:20px;">Tu es intéressé par ces informations ? Tu veux en savoir plus sur l'évolution et la répartition de ton impact carbone ? <br>Fais nous part de tes idées et suggestions et tu pourras tester en avant-première nos nouvelles fonctionnalités !</p>
            <%= button_tag "Donner mon avis", class: "btn btn-round btn-outline-primary", :id => "feedback" %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <p class="big description">
          Carbo peut analyser tes dépenses pour suivre ton impact dans le temps et identifier tes grandes tendances, typiquement là où ton impact augmente. Pour cela, il te suffit d’activer le mode dynamique de Carbo.
        </p>
        <div class="img-container">
          <%= image_tag 'suivre_tendances_static.png', class: 'img-fluid' %>
          <%= image_tag 'suivre_detail_static.png', class: 'img-fluid' %>
          <%= link_to 'Activer le mode dynamique', '/account', class: 'btn btn-round btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>

  <script>
  $( "#feedback" ).click(function() {
    $.post('/feedback', {
      user_id: <%= current_user.id %>
    });
  });
</script>
