<% content_for :title, "Réduire mon impact" %>

  <div class="row">
    <div class="col-md-12 text-center">
      <div class="card">
        <div class="card-title month-nav">
          <div class="row">
            <div class="col-4 text-right mt-auto mb-auto">
              <%= link_to :month => (params[:month].to_i || 0) + 1 do %>
                <i class="material-icons">arrow_back</i>
              <% end %>
            </div>
            <div class="col-4 text-center mt-auto mb-auto">
              <h3>
                <%= l(params[:month].to_i.months.ago, format: '%B %y') %>
              </h3>
            </div>
            <div class="col-4 text-left mt-auto mb-auto">
              <% if params[:month].to_i > 0 %>
                <%= link_to(:month => (params[:month].to_i) - 1)  do %>
                  <i class="material-icons">arrow_forward</i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="description">
    Mes équivalents carbone
  </h2>
  <p class="big description">
    Tes dépenses du mois génèrent <%= number_with_precision(@carbone_count, precision: 0) %> kg C02, une quantité équivalente à...
  </p>
  <div class="row text-center">
    <div class="col-md-3 col-6">
      <div class="card">
        <div class="card-title emoji-title">
          🦛
        </div>
        <div class="card-body">
          <p class="number number-md">
            <%= number_with_precision(@carbone_count / 180, precision: 0) %>
          </p>
          <p>
            le poids de <%= number_with_precision(@carbone_count / 180, precision: 0) %> hippopotames nains
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="card">
        <div class="card-title emoji-title">
          👖
        </div>
        <div class="card-body">
          <p class="number number-md">
            <%= number_with_precision(@carbone_count / 15, precision: 0) %>
          </p>
          <p>
            la fabrication de <%= number_with_precision(@carbone_count / 15, precision: 0) %> jeans délavés (ou pas)
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="card">
        <div class="card-title emoji-title">
          🛴
        </div>
        <div class="card-body">
          <p class="number number-md">
            <%= number_with_precision(@carbone_count / 0.202, precision: 0) %>
          </p>
          <p>
            <%= number_with_precision(@carbone_count / 0.202, precision: 0) %> km en trotinette électrique
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="card">
        <div class="card-title emoji-title">
          🍔
        </div>
        <div class="card-body">
          <p class="number number-md">
            <%= number_with_precision(@carbone_count / 5, precision: 0) %>
          </p>
          <p>
            <%= number_with_precision(@carbone_count / 5, precision: 0) %> burgers bien grassouillets
          </p>
        </div>
      </div>
    </div>
  </div>

  <h2 class="description">Moi et les autres</h2>
  <p class="big description">
    Ce mois-ci, tu génères
    <% if @carbone_count < @carbone_average %>
     moins
    <% else %>
      plus
    <% end %>
    de C02 que la moyenne des membres
  </p>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <%= column_chart [
            {name: "Mon carbone",
              data: @my_carbone
            },
            {name: "Moyenne des membres",
              data: @average_carbone
            }
          ], defer: true %>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-6">
      <%= render 'top' %>
    </div>
    <div class="col-md-6">
      <%= render 'flop' %>
    </div>
  </div>

  <h2 class="description">Mes recommandations</h2>
  <p class="big description justify-content">
    Nous t’encourageons à réduire tes émissions autant que possible, en commençant par celles qui ont le plus d’impact. Si, par exemple, tu ne souhaites pas devenir végétarien, tu peux éviter au moins un vol long courrier dans l’année, cela réduira d’autant ton impact. De petits efforts peuvent suffire chaque mois à diminuer ton empreinte de plusieurs centaines de kilos !
  </p>
  <div class="row text-center">
    <div class="col-md-6">
      <%= render 'food_advice' %>
    </div>
    <div class="col-md-6">
      <%= render 'home_advice' %>
    </div>
  </div>
  <p class="big description">
    Dans un pays au PIB élevé, il te sera presque impossible de réduire ton empreinte à zéro en améliorant purement tes choix quotidiens. Carbo te permet de compenser le reste en soutenant des projets efficaces contre le réchauffement climatique.
  </p>

  <div class="row justify-content-center bottom-cta">
    <div class="col-md-4 text-center">
      <%= image_tag("compenser_CTA.png", class: "img-fluid", style: "margin-bottom: -10px; width:70%;") %>
      <%= link_to "Compenser mon impact", new_subscription_path, class: "btn btn-lg btn-warning btn-round" %>
    </div>
  </div>

