<% content_for :title, "Catégories" %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="card">
        <div class="card-title month-nav">
          <div class="row">
            <div class="col-4 text-right mt-auto mb-auto">
              <%= link_to :month => (params[:month].to_i || 0) + 1 do %>
                <i class="material-icons">arrow_back</i>
              <% end %>
            </div>
            <div class="col-4 text-center mt-auto mb-auto">
              <h3>
                <%= l(params[:month].to_i.months.ago, format: '%B %y') %>
              </h3>
            </div>
            <div class="col-4 text-left mt-auto mb-auto">
              <% if params[:month].to_i > 0 %>
                <%= link_to(:month => (params[:month].to_i) - 1)  do %>
                  <i class="material-icons">arrow_forward</i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive">
          <div class="row">
            <div class="col-md-4 mt-auto mb-auto d-none d-md-block">
              <%= image_tag("group_left.png", class: "img-fluid") %>
            </div>
            <div class="col-md-4 mt-auto mb-auto">
              <%= pie_chart @carbone_by_parent_category, donut: true, title: "#{number_with_precision(@transactions.sum(&:carbone), precision: 2)} Kg", legend: "none" %>
            </div>
            <div class="col-md-4 mt-auto mb-auto d-none d-md-block">
              <%= image_tag("group_right.png", class: "img-fluid") %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table text-left table-category">
                <thead>
                  <tr>
                      <th />
                      <th>Type</th>
                      <th>Carbone</th>
                      <th>Part</th>
                      <th>Précision</th>
                      <th />
                  </tr>
                </thead>
                <tbody>
                  <% i = 0 %>
                  <% @transactions.sort_by {|t| Category.find_by_external_id(t.parent_category_id).name}.map {|t| t.parent_category_id}.uniq.each do |c| %>
                    <% @category = Category.find_by_external_id(c) %>
                    <tr>
                      <td>
                        <div class="category-pill" style="background:<%= Chartkick.options[:colors][i] %>;"/>
                        <% i = i+1 %>
                      </td>
                      <td>
                        <%= @category.name %>
                        <small>
                          <br /><%= @transactions.parent_category_id(c).count.to_s + " transactions" %>
                        </small>
                      </td>
                      <td>
                        <%= number_with_precision(@transactions.parent_category_id(c).sum(&:carbone), precision: 2).to_s + " Kg" %>
                      </td>
                      <td>
                        <%= number_with_precision(@transactions.parent_category_id(c).sum(&:carbone)*100 / @transactions.sum(&:carbone), precision: 1).to_s + " %" %>
                      </td>
                      <td>
                        <span class="badge badge-pill badge-danger">Basse</span>
                      </td>
                      <td>
                        <%= link_to "/categories/#{@category.id}?month=#{params[:month]}", :month => (params[:month].to_i || 0)  do %>
                          <i class="material-icons">more_vert</i>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  <tr class="text-right">
                    <td colspan=6 >
                      <%= link_to "" do %>
                        Suggérer une nouvelle catégorie
                        <i class="material-icons">add_circle</i>
                      <% end %>
                    </td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
