<% content_for :title, "#{@category.emoji} #{@category.name}" %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="card">
        <%= render 'month_nav' %>
        <div class="card-body table-responsive">
            <div class="piechart-title text-center">
              <div>
                <span class="number number-md"><%= number_with_precision(@carbone_category_total, precision: 0) %></span>
                <br>kgCO2
              </div>
            </div>
          <div class="row">
            <div class="col-md-4 mt-auto mb-auto d-none d-md-block">
              <%= image_tag("category_left.png", class: "img-fluid illustration") %>
            </div>
            <div class="col-md-4 mt-auto mb-auto">
              <%= pie_chart @carbone_by_category.map { |c,v| [c.name, number_with_precision(v, precision:0)] }, colors: @colors, donut: true, legend: "none", suffix: " kgCO2" %>
            </div>
            <div class="col-md-4 mt-auto mb-auto d-none d-md-block">
              <%= image_tag("category_right.png", class: "img-fluid illustration") %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table text-left table-category">
                <thead>
                  <tr>
                      <th />
                      <th>Type</th>
                      <th class="d-none d-md-block">kgCO2</th>
                      <th>Part</th>
                      <th>Précision</th>
                      <th />
                  </tr>
                </thead>
                <tbody>
                  <% @carbone_by_category.each do |c,v| %>
                    <tr class="<%= "inactive" if v == 0 %>">
                      <td class="text-right" style="width:8%;">
                        <div class="category-pill ml-auto" style="background:<%= c.color unless v== 0 %><%= "grey" if v== 0 %>;"/>
                      </td>
                      <td>
                        <%= c.name %>
                        <small>
                          <br />
                          <% unless v == 0 %>
                            <%= link_to "/transactions?month=#{params[:month]}&category=#{c.id}" do %>
                              <%= @transactions.category_id(c.id).count.to_s + " transactions" %>
                            <% end %>
                          <% else %>
                           pas de transaction
                          <% end %>
                        </small>
                      </td>
                      <td class="d-none d-md-table-cell">
                        <%= number_with_precision(v, precision: 0).to_s %>
                      </td>
                      <td style="width:20%;">
                        <%= number_with_precision(v*100 / @carbone_category_total, precision: 0).to_s + " %" %>
                      </td>
                      <td>
                        <% @avg_accuracy = @transactions.category_id(c.id).average(:accuracy) %>
                        <% if @avg_accuracy %>
                          <% if @avg_accuracy < 2 && @avg_accuracy > 0  %>
                            <span class="badge badge-pill badge-danger">Basse</span>
                          <% elsif @avg_accuracy < 3 %>
                            <span class="badge badge-pill badge-warning">Moyenne</span>
                          <% elsif @avg_accuracy == 3 %>
                            <span class="badge badge-pill badge-success">Elevée</span>
                          <% end %>
                        <% end %>
                      </td>
                      <td class="text-left" style="width:8%;">
                        <% unless v == 0 %>
                          <%= link_to "/transactions?month=#{params[:month]}&category=#{c.id}" do %>
                          <i class="material-icons">more_vert</i>
                        <% end %>
                        <% else %>
                          <i class="material-icons">more_vert</i>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to "/track?month=#{params[:month]}", class: "btn btn-primary btn-link" do %>
            <i class="material-icons">arrow_back</i>
            Retour aux catégories
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <div class="card">
        <div class="card-header card-header-info">
          <div class="emoji-title">
            📈
            <h4>
              Evolution de mon impact carbone en
              <%= @category.name %>
            </h4>
          </div>
        </div>
        <div class="card-body">
          <% if current_user.transactions.parent_category_id(@category.id).year.present? %>
            <%= area_chart current_user.transactions.parent_category_id(@category.id).year.group_by_month(:date).sum(:carbone), defer: true, max: (current_user.transactions.parent_category_id(@category.id).year.group_by_month(:date).sum(:carbone).values.max * 1.1).to_i.round(-3), points: false, :style => "margin-top:30px;", suffix: " kg", decimal: "," %>
          <% end %>
        </div>
      </div>
      </div>
  </div>
  <div class="row justify-content-center bottom-cta">
    <div class="col-md-3 text-center">
      <%= image_tag("reduire_CTA.png", class: "img-fluid") %>
      <%= link_to "Réduire mon impact", "/reduce", class: "btn btn-lg btn-rose btn-round" %>
    </div>
  </div>
</div>
