<% content_for :title, "#{@category.name}" %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="card">
        <div class="card-title month-nav">
          <div class="row">
            <div class="col-4 text-right mt-auto mb-auto">
              <%= link_to :month => (params[:month].to_i || 0) + 1 do %>
                <i class="material-icons">arrow_back</i>
              <% end %>
            </div>
            <div class="col-4 text-center mt-auto mb-auto">
              <h3>
                <%= l(params[:month].to_i.months.ago, format: '%B %y') %>
              </h3>
            </div>
            <div class="col-4 text-left mt-auto mb-auto">
              <% if params[:month].to_i > 0 %>
                <%= link_to(:month => (params[:month].to_i) - 1)  do %>
                  <i class="material-icons">arrow_forward</i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive">
            <div class="piechart-title text-center">
              <div>
                <span class="number number-md"><%= number_with_precision(@carbone_category_total, precision: 0) %></span>
                <br>kgCO2
              </div>
            </div>
          <div class="row">
            <div class="col-md-4 mt-auto mb-auto d-none d-md-block">
              <%= image_tag("category_left.png", class: "img-fluid illustration") %>
            </div>
            <div class="col-md-4 mt-auto mb-auto">
              <%= pie_chart @carbone_by_category.map { |c,v| [c.name, number_with_precision(v, precision:0)] }, colors: @colors, donut: true, legend: "none", suffix: " kgCO2" %>
            </div>
            <div class="col-md-4 mt-auto mb-auto d-none d-md-block">
              <%= image_tag("category_right.png", class: "img-fluid illustration") %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table text-left table-category">
                <thead>
                  <tr>
                      <th />
                      <th>Type</th>
                      <th class="d-none d-md-block">kgCO2</th>
                      <th>Part</th>
                      <!-- <th>Précision</th> -->
                      <th />
                  </tr>
                </thead>
                <tbody>
                  <% @carbone_by_category.each do |c,v| %>
                    <tr class="<%= "inactive" if v == 0 %>">
                      <td class="text-right" style="width:8%;">
                        <div class="category-pill ml-auto" style="background:<%= c.color unless v== 0 %><%= "grey" if v== 0 %>;"/>
                      </td>
                      <td>
                        <%= c.name %>
                        <small>
                          <br />
                          <% unless v == 0 %>
                            <%= link_to "/transactions?month=#{params[:month]}&category=#{c.id}" do %>
                              <%= @transactions.category_id(c.id).count.to_s + " transactions" %>
                            <% end %>
                          <% else %>
                           pas de transaction
                          <% end %>
                        </small>
                      </td>
                      <td class="d-none d-md-table-cell">
                        <%= number_with_precision(v, precision: 0).to_s %>
                      </td>
                      <td style="width:20%;">
                        <%= number_with_precision(v*100 / @carbone_category_total, precision: 0).to_s + " %" %>
                      </td>
                      <!-- <td>
                        <span class="badge badge-pill badge-danger">Basse</span>
                      </td> -->
                      <td class="text-left" style="width:8%;">
                        <% unless v == 0 %>
                          <%= link_to "/transactions?month=#{params[:month]}&category=#{c.id}" do %>
                          <i class="material-icons">more_vert</i>
                        <% end %>
                        <% else %>
                          <i class="material-icons">more_vert</i>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to "/categories?month=#{params[:month]}", class: "btn btn-primary btn-link" do %>
            <i class="material-icons">arrow_back</i>
            Retour aux catégories
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center bottom-cta">
    <div class="col-md-3 text-center">
      <%= image_tag("reduire_CTA.png", class: "img-fluid") %>
      <%= link_to "Réduire mon impact", "/compare", class: "btn btn-lg btn-rose btn-round" %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="moreInfoModal" tabindex="-1" role="dialog" aria-labelledby="moreInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title ml-auto mr-auto" id="moreInfoModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <i class="material-icons">wb_incandescent</i>
        <p>
          À ce stade, notre méthode de calcul comporte plusieurs incertitudes. Améliorez la précision de vos données en fournissant plus d’informations sur vos dépenses.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-primary ml-auto mr-auto">Enrichir mes données</button>
      </div>
    </div>
  </div>
</div>
