<% content_for :title, "#{@category.name}" %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="card">
        <div class="card-title month-nav">
          <div class="row">
            <div class="col-4 text-right mt-auto mb-auto">
              <%= link_to :month => (params[:month].to_i || 0) + 1 do %>
                <i class="material-icons">arrow_back</i>
              <% end %>
            </div>
            <div class="col-4 text-center mt-auto mb-auto">
              <h3>
                <%= l(params[:month].to_i.months.ago, format: '%B %y') %>
              </h3>
            </div>
            <div class="col-4 text-left mt-auto mb-auto">
              <% if params[:month].to_i > 0 %>
                <%= link_to(:month => (params[:month].to_i) - 1)  do %>
                  <i class="material-icons">arrow_forward</i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive">
          <div class="row">
            <div class="col-md-4 mt-auto mb-auto d-none d-md-block">
              <%= image_tag("group_left.png", class: "img-fluid") %>
            </div>
            <div class="col-md-4 mt-auto mb-auto">
              <%= pie_chart @transactions.group(:category_id).sum(:carbone).sort, donut: true, title: "#{number_with_precision(@transactions.sum(&:carbone), precision: 2)} Kg", legend: "none" %>
            </div>
            <div class="col-md-4 mt-auto mb-auto d-none d-md-block">
              <%= image_tag("group_right.png", class: "img-fluid") %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table text-left table-category">
                <thead>
                  <tr>
                      <th />
                      <th>Type</th>
                      <th>Carbone</th>
                      <th>Part</th>
                      <th>Précision</th>
                      <th />
                  </tr>
                </thead>
                <tbody>
                  <% i = 0 %>
                  <% @transactions.sort_by {|t| t.category_id}.map {|t| t.category_id}.uniq.each do |c| %>
                    <% @category = Category.find_by_external_id(c) %>
                    <tr>
                      <td>
                        <div class="category-pill" style="background:<%= Chartkick.options[:colors][i] %>;"/>
                        <% i = i+1 %>
                      </td>
                      <td>
                        <%= @category.name %>
                        <small>
                          <br /><%= @transactions.category_id(c).count.to_s + " transactions" %>
                        </small>
                      </td>
                      <td>
                        <%= number_with_precision(@transactions.category_id(c).sum(&:carbone), precision: 2).to_s + " Kg" %>
                      </td>
                      <td>
                        <%= number_with_precision(@transactions.category_id(c).sum(&:carbone)*100 / @transactions.sum(&:carbone), precision: 1).to_s + " %" %>
                      </td>
                      <td>
                        <span class="badge badge-pill badge-danger">Basse</span>
                      </td>
                      <td>
                        <a href="" data-toggle="modal" data-target="#moreInfoModal">
                          <i class="material-icons">more_vert</i>
                        </a>
                      </td>
                    </tr>
                  <% end %>
                  <tr >
                    <td colspan=3 class="text-left" >
                      <%= link_to "/categories" do %>
                        <i class="material-icons">arrow_back</i>
                        Retour aux catégories
                      <% end %>
                    </td>
                    <td colspan=3 class="text-right" >
                      <%= link_to "" do %>
                        Suggérer une sous-catégorie
                        <i class="material-icons">add_circle</i>
                      <% end %>
                    </td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="moreInfoModal" tabindex="-1" role="dialog" aria-labelledby="moreInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title ml-auto mr-auto" id="moreInfoModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <i class="material-icons">wb_incandescent</i>
        <p>
          À ce stade, notre méthode de calcul comporte plusieurs incertitudes. Améliorez la précision de vos données en fournissant plus d’informations sur vos dépenses.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-primary ml-auto mr-auto">Enrichir mes données</button>
      </div>
    </div>
  </div>
</div>
