<% content_for :title, "Suivre mon impact" %>
  <small class="description">
    <%= @bridge.last_sync_at.strftime("Dernière synchronisation le %d/%m/%Y") if @score.kind.to_sym == :dynamic %>
  </small>

  <h2 class="description text-center">
    <span style="opacity:0.3;">👁‍</span> En un clin d'oeil
  </h2>
  <div class="row text-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4>Répartition de mon impact par catégorie</h4>
          <%= render 'month_nav' if @score.kind.to_sym == :dynamic %>
          <div class="row">
            <div class="piechart-title text-center">
              <div>
                <span class="number number-md"><%= number_with_precision(@score.total*1000/12, precision: 0) %></span>
                <br>kgCO2
                <%= "/ mois" if @score.kind.to_sym == :static %>
              </div>
            </div>
            <div class="col-md-4 mt-auto mb-auto d-none d-md-block">
              <%= image_tag("group_left.png", class: "img-fluid") %>
            </div>
            <div class="col-md-4 mt-auto mb-auto">
              <%= pie_chart @data, colors: @categories.map { |c| c.color}, round: 1, donut: true, legend: "none", suffix: " kgCO2" %>
            </div>
            <div class="col-md-4 mt-auto mb-auto d-none d-md-block">
              <%= image_tag("group_right.png", class: "img-fluid") %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table text-left table-category">
                <thead>
                  <tr>
                      <th />
                      <th>Type</th>
                      <th class="d-none d-md-table-cell">kgCO2</th>
                      <th>Part</th>
                      <!-- <th>Précision</th> -->
                      <th />
                  </tr>
                </thead>
                <tbody>
                  <% i = 0 %>
                  <% @categories.each do |c| %>
                    <tr class="<%= "inactive" if @score.detail[i] == 0 %>">
                      <td class="text-right" style="width:8%;">
                        <div class="category-pill ml-auto" style="background:<%= c.color unless @score.detail[i]== 0 %><%= "grey" if @score.detail[i]== 0 %>;"/>
                      </td>
                      <td>
                        <%= c.name %>
                        <small>
                          <br />
                          <% unless @score.detail[i] == 0 %>
                            <%= link_to "/transactions?month=#{params[:month]}&parent_category=#{c.id}" do %>
                              <%= @transactions.parent_category_id(c.id).count.to_s + " dépenses" if @score.kind.to_sym == :dynamic %>
                            <% end %>
                          <% else %>
                           pas de dépense
                          <% end %>
                        </small>
                      </td>
                      <td class="d-none d-md-table-cell">
                        <%= number_with_precision(@score.detail[i].to_f*1000/12, precision: 0).to_s %>
                      </td>
                      <td style="width:20%;">
                        <%= number_with_precision(@score.detail[i].to_f*100 / @score.total, precision: 0).to_s + " %" %>
                      </td>
                      <!-- <td>
                        <span class="badge badge-pill badge-danger">Basse</span>
                      </td> -->
                      <td class="text-left" style="width:8%;">
                        <% unless @score.kind.to_sym == :static || @score.detail[i] == 0 %>
                          <%= link_to "/categories/#{c.id}?month=#{params[:month]}", :month => (params[:month].to_i || 0)  do %>
                            <i class="material-icons" style="color:<%= c.color%>">more_vert</i>
                          <% end %>
                        <% else %>
                          <% if @score.kind.to_sym == :static %>
                            <i class="material-icons" data-toggle="tooltip" data-placement="bottom" data-container="body" data-original-title="Active le mode dynamique pour suivre l'évolution de ton impact dans chaque catégorie">more_vert</i>
                          <% else %>
                            <i class="material-icons">more_vert</i>
                          <% end %>
                        <% end %>
                      </td>
                    </tr>
                    <% i = i+1 %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card-footer">
          Psss..accéde au détail de 50+ catégories de dépenses en <%= link_to 'activant le mode dynamique ici', '/onboarding' %>
        </div>
      </div>
    </div>
  </div>

  <h2 class="description text-center">
    <span style="opacity:0.3;">📢</span> Mes tendances récentes
  </h2>
  <%= render 'trends' %>

  <h2 class="description text-center">
    <span style="opacity:0.3;">🤓</span> Pour aller plus loin
  </h2>
  <%= render 'details' %>

  <div class="row justify-content-center bottom-cta">
    <div class="col-md-3 text-center">
      <%= image_tag("comparer_CTA.png", class: "img-fluid", style: "margin-bottom: -15px;") %>
      <%= link_to "Comparer mon impact", '/compare_with', class: "btn btn-lg btn-primary btn-round" %>
    </div>
  </div>
