<div class="card payment-detail-card">
  <div class="card-header card-header-<%= reduction.color %>">
    <%= image_tag (reduction.image||"illu1_projects3.png"), class: 'img-fluid' %>
    <div class="subtitle">
      <span><%= Category.find(reduction.parent_category_id).name.upcase %></span>
    </div>
  </div>
  <div class="card-body text-left">
    <h5>
      <small class="description">
        PRIORITÉ<br>
      </small>
      <%= reduction.title %>
    </h5>
    <h5 class="text-<%= reduction.color %>">
      <small class="description">
        CARBONE ÉVITÉ<br>
      </small>
      - <%= number_with_precision(reduction.month_carbone, precision:0) %> KGCO2 / MOIS
      (-<%= number_with_precision(reduction.month_carbone/(@score.total*10/12), precision:0) %>%)
    </h5>
    <h5>
      <small class="description">
        ÉCONOMIES GÉNÉRÉES<br>
      </small>
    </h5>
    <p>
      <% if reduction.month_cost > 0 %>
        - <%= number_with_precision(reduction.month_cost, precision: 0) %>€ / mois
      <% else %>
        - <%= number_with_precision(reduction.month_carbone*0.02, precision: 1) %>€ sur mon forfait Carbo
      <% end %>
    </p>
  </div>
  <div class="card-footer">
    <strong>
      <%= form_for reduction do |f| %>
        <%= f.hidden_field :hidden, :value => true %>
        <%= f.submit "Ne plus voir ce conseil", class: 'btn btn-link text-warning' %>
      <% end %>
    </strong>
  </div>
</div>
