<div class="card">
  <div class="card-header card-header-success">
    <h4>TOP</h4>
  </div>
  <div class="card-body">
    <% @count = 0 %>
    <% i = 0 %>
    <% 5.times do %>
      <% if @my_carbone[i][1] < @average_carbone[i][1] && @my_carbone[i][1] > 0 %>
        <% @count = @count + 1 %>
        <div class="row align-items-center">
          <div class="col-3 emoji">
            <%= @my_carbone[i][0].emoji %>
          </div>
          <div class="col-9 text-left">
            <p>
              <% case i %>
              <% when 0 %>
                À ce stade, tes déplacements sont <%= number_with_precision(100*(@average_carbone[i][1] - @my_carbone[i][1]) / @average_carbone[i][1], precision: 0) %>% moins carbonés que les autres membres
              <% when 1 %>
                Home sweet home ! Ton logement engendre <%= number_with_precision(100*(@average_carbone[i][1] - @my_carbone[i][1]) / @average_carbone[i][1], precision: 0) %>% moins de C02 que la moyenne
              <% when 2 %>
                À ce stade, tes dépenses en loisirs et services sont <%= number_with_precision(100*(@average_carbone[i][1] - @my_carbone[i][1]) / @average_carbone[i][1], precision: 0) %>% moins carbonées que les autres
              <% when 3 %>
                Le shopping ne semble pas être ton grand dada (-<%= number_with_precision(100*(@average_carbone[i][1] - @my_carbone[i][1]) / @average_carbone[i][1], precision: 0) %>%), et la planète te dit merci !
              <% when 4 %>
                Tes repas génèrent moins de carbone que la moyenne (-<%= number_with_precision(100*(@average_carbone[i][1] - @my_carbone[i][1]) / @average_carbone[i][1], precision: 0) %>%). Bon appétit !
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
      <% i = i+1 %>
    <% end %>
    <% if @count == 0 %>
      <%= image_tag 'illu_top.png', class: "img-fluid", style: "width:30%; margin-bottom: 20px; opacity:0.4;" %>
      <p class="description justify-content">
        <%= current_user.name %>, tes dépenses sont plus carbonées que la moyenne des membres dans toutes les catégories 😳 Une seule conclusion possible : tu es Donald Trump ! La bonne nouvelle, c’est que tu as l’embarras du choix pour commencer à réduire ton impact 💪
      </p>
    <% end %>
  </div>
</div>
