<% content_for :title, "Réduire mon impact" %>

  <h2 class="description text-center">ALLER À L’ESSENTIEL</h2>
  <p class="text-center">
    Si tu le souhaites, Carbo est là pour t’aider à réduire l’empreinte carbone de tes choix quotidiens autant que possible.
    <% if @score.kind.to_sym == :static %>
      Tu peux à tout moment accéder à des recommendations plus personnalisées en <%= link_to 'activant le mode dynamique ici >', '/account' %>
      <% end %>
  </p>
  <div class="row text-center">
    <div class="col-md-6">
      <%= render 'top' %>
    </div>
    <div class="col-md-6">
      <%= render 'flop' %>
    </div>
  </div>

  <h2 class="description text-center"><i class="material-icons">whatshot</i> MES PRIORITÉS</h2>
  <div class="row text-center justify-content-center">
    <% @reductions.each do |reduction| %>
      <div class="col-md-4">
        <%= render reduction %>
      </div>
    <% end %>
  </div>

  <h2 class="description text-center"><i class="material-icons">file_copy</i> POUR ALLER PLUS LOIN</h2>
  <div class="row text-center justify-content-center">
    <% @tips.each do |tip| %>
      <div class="col-md-4">
        <%= render tip %>
      </div>
    <% end %>
  </div>

  <p class="description text-center">
    Dans un pays au PIB élevé, il te sera presque impossible de réduire ton empreinte à zéro en améliorant purement tes choix quotidiens. Carbo te permet de compenser le reste en soutenant des projets efficaces contre le réchauffement climatique.
  </p>

  <div class="row justify-content-center bottom-cta">
    <div class="col-md-4 text-center">
      <%= image_tag("compenser_CTA.png", class: "img-fluid", style: "margin-bottom: -10px; width:70%;") %>
      <%= link_to "Compenser mon impact", subscriptions_path, class: "btn btn-lg btn-warning btn-round" %>
    </div>
  </div>
