<%= form_with(model: transaction, remote: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :month, :value => params[:month] %>
  </div>

  <div class="field">
    <%= form.hidden_field :previous_category, :value => params[:category] %>
  </div>

  <div class="field">
    <%= form.hidden_field :updated_by_user, :value => true %>
  </div>

  <div class="field text-center">
    <h4><small>Catégorie : </small></h4>
    <%= form.grouped_collection_select(:category_id, Category.all.root_categories.order(:name), :children, :name, :id, :name) %>
  </div>
<% end %>
