<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :month, :value => params[:month] %>
  </div>

  <div class="field">
    <%= form.hidden_field :previous_category, :value => params[:category] %>
  </div>

  <div class="field">
    <%= form.hidden_field :updated_by_user, :value => true %>
  </div>

  <div class="field text-center">
    <h4><small>Catégorie : </small></h4>
    <%= form.select(:category_id, Category.where("parent_id != 0").order(:parent_id, :name).map {|c| [c.name, c.external_id]}, :selected => transaction.category_id, :class => "custom-select js-searchable") %>
  </div>

  <div class="actions">
    <%= form.submit 'Mettre à jour la catégorie', class: 'btn btn-primary' %>
  </div>
<% end %>
