<td>
  <%= Category.find(transaction.parent_category_id).emoji %>
</td>
<td>
  <%= transaction.description %>
</td>
<td>
  <%= Category.find(transaction.category_id).name %>
<td>
  <%= number_with_precision(transaction.carbone, precision: 2).to_s + " Kg" %>
</td>
<td>
  <%= transaction.date %>
</td>
<td>
  <%= link_to edit_transaction_path(transaction, :month => params[:month], :category => ('115' if current_page?('/categorize') || params[:category])) do %>
    <i class="material-icons">more_vert</i>
  <% end %>
</td>


