<% content_for :title, "Dépenses détaillées" %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <%= image_tag("illu1_section3.png", class: "img-fluid", style: "margin-bottom: -48px; width:30%") %>
      <div class="card">
        <div class="card-title">
          <h3>
            <%= @transactions.count %> dépenses à catégoriser
          </h3>
        </div>
        <div class="card-body table-responsive">
          <div class="row justify-content-center">
            <div class="col-4">
              <p class="description">
                niveau de précision actuel
              <div class="progress progress-line-primary">
                <div class="progress-bar progress-bar-primary" role="progress-bar" style="width:<%= 100*(1 - @transactions.count.to_f / current_user.transactions.carbone_contribution.count.to_f) %>%;">
                </div>
              </div>
            </div>
          </div>
          <table class="table text-left">
            <thead>
              <tr>
                <th>Description</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Catégorie</th>
                <th />
              </tr>
            </thead>
            <tbody>
              <% @transactions.each do |transaction| %>
                <tr id="transaction_<%= transaction.id %>">
                    <td style="width:30%;">
                      <%= transaction.description %>
                    </td>
                    <td>
                      <%= number_with_precision(transaction.amount * -1, precision: 2).to_s + " €" %>
                    </td>
                    <td>
                      <%= transaction.date %>
                    </td>
                    <td>
                      <%= form_for(transaction, remote: true) do |form| %>
                        <%= form.hidden_field :previous_category, :value => 115 %>
                        <%= form.hidden_field :updated_by_user, :value => true %>
                        <%= form.select(:category_id, Category.where("parent_id != 0").order(:parent_id, :name).map {|c| [c.name, c.id]}, :include_blank => "Choisir une catégorie", :class => "custom-select js-searchable", :onchange => "this.form.submit();") %>
                      <% end %>
                    </td>
                    <td style="width:12%;">
                      <span data-toggle="modal" data-target="#commentModal_<%= transaction.id %>">
                        <a class='btn btn-fab btn-sm btn-outline-danger' data-toggle="tooltip" data-placement="bottom" title="" data-container="body" data-original-title="Signaler un problème sur la dépense">
                          <i class="material-icons">warning</i>
                        </a>
                      </span>
                      <!-- Modal -->
                      <div class="modal fade" id="commentModal_<%= transaction.id %>" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title" id="commentModalLabel">Signaler un problème</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <%= form_for @comment do |form| %>
                                    <div class="field">
                                      <%= form.hidden_field :transaction_id, :value => transaction.id %>
                                      <%= form.text_area :description, placeholder: "Expliquer en quelques mots le problème avec cette dépense.", class: 'form-control', :autofocus => true %>
                                    </div>
                                    <div class="actions">
                                      <%= form.submit 'Envoyer mon commentaire', class: 'btn btn-primary' %>
                                    </div>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <%= link_to '/dashboard', class: "btn btn-primary btn-link" do %>
            <i class="material-icons">arrow_back</i>
            Retour
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

