<% content_for :title, "Dashboard" %>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <p>12 derniers mois :
          <%= number_with_precision(50 * (1- Math.tanh(0.1*(@last_year_count - 12000) / (@last_year_count - 1200))), precision: 0) %>
          <small><%= number_with_precision(@last_year_count, precision: 2) %> kg CO2</small>
        </p>
        <p>30 derniers jours :
          <%= number_with_precision(50 * (1- Math.tanh(0.1*(@last_30_days_count - 1000) / (@last_30_days_count - 100))), precision: 0) %>
          <small><%= number_with_precision(@last_30_days_count, precision: 2) %> kg CO2</small>
        </p>
        <p>Ce mois-ci : <%= @current_month_count %> kg CO2</p>
        <p>
          <%= line_chart current_user.transactions.group_by_month(:date).sum(:carbone), defer: true %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body table-responsive">
        <h3>Mes dernières dépenses</h3>
        <p class="description">
          Dernière synchronisation le
          <%= @bridge.last_sync_at.to_s %>
        </p>
        <table class="table table-hover">
          <tbody>
            <% @transactions.first(5).each do |transaction| %>
              <tr>
                <td style="width:40%;"><%= transaction.description %></td>
                <td><%= number_with_precision(transaction.carbone, precision: 2) %> kg</td>
                <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
