<% content_for :title, "Dashboard" %>
  <small class="description">
    <%= @bridge.last_sync_at.strftime("Dernière synchronisation le %d/%m/%Y") %>
  </small>
  <div class="row justify-content-center">
    <div class="col-md-3 mt-auto mb-auto d-none d-md-block">
      <%= image_tag("dashboard_left.png", class: "img-fluid illustration") %>
    </div>
    <div class="col-md-5" style="z-index:12;" >
      <div class="card bg-info text-center">
        <div class="card-header card-header-dark">
          <h4>
            Mon impact carbone en
            <%= l(Date.today, format: '%B') %>
          </h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-7 text-right">
              <p class="number number-lg">
                <%= number_with_precision(@current_month_count, precision: 0) %>
              </p>
            </div>
            <div class="col-5 text-left" style="margin-left: -20px;">
              <span style="opacity:0.5; font-weight:bold;">
                kg CO2
              </span><br>
              <% if @current_month_count < @last_month_count %>
                <%= image_tag "arrow-green.png", class: 'img-fluid', :style => "width:30%;", "data-toggle" => "tooltip", "data-placement" => "bottom", "data-container" => "body", "data-original-title" => "Ton impact carbone est #{number_with_precision(100*(@last_month_count-@current_month_count)/@last_month_count, precision:0)}% plus faible que le mois dernier 💪 continue comme ça !" %>
              <% elsif @current_month_count > @last_month_count %>
                <%= image_tag "arrow-red.png", class: 'img-fluid', :style => "width:30%;", "data-toggle" => "tooltip", "data-placement" => "bottom", "data-container" => "body", "data-original-title" => "Ton impact carbone est #{number_with_precision(-100*(@last_month_count-@current_month_count)/@last_month_count, precision:0)}% plus élevé que le mois dernier 😱 encore un effort !" %>
              <% else %>
                <%= image_tag "arrow-yellow.png", class: 'img-fluid', :style => "width:30%;", "data-toggle" => "tooltip", "data-placement" => "bottom", "data-container" => "body", "data-original-title" => "Ton impact carbone est le même que le mois dernier, 🎯 bien visé !" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-auto mb-auto d-none d-md-block">
      <%= image_tag("dashboard_right.png", class: "img-fluid illustration") %>
    </div>
  </div>

  <div class="row text-center dashboard2">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-warning">
          <div class="emoji-title">
            💳
            <h4>
              Mes dernières dépenses
            </h4>
          </div>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <tbody>
              <% @transactions.first(6).each do |transaction| %>
                <tr>
                  <td class="text-left" style="width:70%;"><%= truncate(transaction.description, :length => 33) %></td>
                  <td class="text-right"><%= number_with_precision(transaction.carbone, precision: 1) %> kg</td>
                  <td class="text-right">
                    <%= link_to edit_transaction_path(transaction) do %>
                      <i class='material-icons text-warning'>edit</i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= link_to "Voir tout l'historique", transactions_path, class: "btn btn-outline-warning btn-round" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-primary">
          <div class="emoji-title">
            👣
            <h4>Mon historique</h4>
          </div>
        </div>
        <div class="card-body">
          <%= area_chart current_user.transactions.year.group_by_month(:date).sum(:carbone), defer: true, max: (current_user.transactions.year.group_by_month(:date).sum(:carbone).values.max * 1.1).to_i.round(-1), points: false, :style => "margin-top:30px;", suffix: " kg", decimal: "," %>
          <%= link_to "Voir le détail", categories_path, class: "btn btn-outline-primary btn-round" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card border-info text-center">
        <div class="card-header card-header-info">
          <div class="emoji-title">
            🙃
            <h4>
              Ma flop catégorie
            </h4>
          </div>
        </div>
        <div class="card-body justify-content">
          <p class="number number-md">
            <%= number_with_precision(@top_category.values.first, precision: 0) %>
          </p>
          <p class="tag-line">
            <span class="tag tag-info">
              kg de CO2
            </span>
          </p>
          <p>
            Mes dépenses en
            <%= @top_category.keys.first %>
            génèrent
            <%= number_with_precision(@top_category.values.first, precision: 0) %>
            kg de carbone ce mois-ci
          </p>
          <%= link_to "Comprendre", categories_path, class: "btn btn-outline-info btn-round" %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-primary text-center">
        <div class="card-header card-header-primary">
          <div class="emoji-title">
            👥
            <h4>
              Impact moyen des membres
            </h4>
          </div>
        </div>
        <div class="card-body justify-content">
          <p class="number number-md">
            <%= number_with_precision(@average_by_user, precision: 0) %>
          </p>
          <% if @current_month_count - @average_by_user > 0 %>
            <p class="tag-line">
              <span class="tag tag-primary">
                <%= number_with_precision((@current_month_count - @average_by_user) * 100 / @average_by_user, precision: 0) %>
                % de plus
              </span>
            </p>
            <p>
              Mes dépenses sont <%= number_with_precision((@current_month_count - @average_by_user) * 100 / @average_by_user, precision: 0) %>% plus carbonées que la moyenne des membres
            </p>
          <% else %>
            <p class="tag-line">
              <span class="tag tag-primary">
                <%= number_with_precision((@current_month_count - @average_by_user) * -100 / @average_by_user, precision: 0) %>
                % de moins
              </span>
            </p>
            <p>
              Mes dépenses sont <%= number_with_precision((@current_month_count - @average_by_user) * -100 / @average_by_user, precision: 0) %>% moins carbonées que la moyenne des membres
            </p>
          <% end %>
          <%= link_to "Réduire", '/compare', class: "btn btn-outline-primary btn-round" %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-rose text-center">
        <div class="card-header card-header-rose">
          <div class="emoji-title">
            🌳
            <h4>
              Compenser mon impact
            </h4>
          </div>
        </div>
        <div class="card-body justify-content">
          <p class="number number-md">
            <%= number_with_precision(0.5 + @current_month_count / 150, precision: 0) %>
          </p>
          <p class="tag-line">
            <span class="tag tag-rose">
              arbres
            </span>
          </p>
          <p>
            Il faudrait planter <%= number_with_precision(0.5 + @current_month_count / 150, precision: 0) %> arbres pour compenser le carbone de tes dépenses
          </p>
          <%= link_to "Compenser", new_subscription_path, class: "btn btn-outline-rose btn-round" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center bottom-cta">
    <div class="col-md-3 text-center">
      <%= image_tag("comprendre_CTA.png", class: "img-fluid", style: "margin-bottom: -15px;") %>
      <%= link_to "Comprendre mon impact", "/categories", class: "btn btn-lg btn-info btn-round" %>
    </div>
  </div>
