<% content_for :title, "Détail d'une dépense" %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card transaction-title" style="background: <%= Category.find(@transaction.parent_category_id).color || "#083849" %>;">
        <div class="row align-items-center justify-content-center text-white">
          <div class="col-1 d-none d-md-flex">
            <%= link_to request.referer.present? ? request.referer : "/track", class: "btn btn-white btn-link" do %>
              <i class="material-icons">arrow_back</i>
            <% end %>
          </div>
          <div class="col-md-5 col-7">
            <h3><%= @transaction.description %></h3>
          </div>
          <div class="col-2 d-none d-md-flex" id="accuracy-level" data-toggle="tooltip" data-placement="bottom" data-container="body" data-original-title="<%= @accuracy_tooltip %>">
            <span class="emoji accuracy <%="active" if @transaction.accuracy > 0 %>">
              🎯
            </span>
            <span class="emoji accuracy <%="active" if @transaction.accuracy > 1 %>">
              🎯
            </span>
            <span class="emoji accuracy <%="active" if @transaction.accuracy > 2 %>">
              🎯
            </span>
          </div>
          <div class="col-4 text-center">
            <span id= "carbone" class="number number-md">
              <%= number_with_precision(@transaction.carbone, precision: 1) %>
            </span>
            <br>kgCO2
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-1 text-right">
              <h4><%= @transaction.category.emoji if @transaction.category %></h4>
            </div>
            <div class="col-5">
              <%= render 'form', transaction: @transaction %>
            </div>
            <div class="col-md-2 text-center">
              <label>Date :</label><%= " " + @transaction.date.to_s %>
            </div>
            <div class="col-md-4 text-center">
              <label>Montant :</label><%= " " +  (-1 * @transaction.amount).to_s %> €
            </div>
          </div>
          <% if @modifiers.present? || @parent_modifiers.present? %>
            <%= render 'transaction_modifiers/form' %>
          <% end %>
        </div>
        <div class="card-footer">
          <div class="text-center">
            <%= link_to 'Signaler un problème', "", class: 'btn btn-danger btn-link', "data-toggle" => "modal", "data-target" => "#commentModal" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="commentModalLabel">Signaler un problème sur une dépense</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <%= form_for @comment do |form| %>
              <div class="field">
                <%= form.hidden_field :author, :value => @transaction.user.id %>
                <%= form.hidden_field :transaction_id, :value => @transaction.id %>
              </div>
              <div class="field">
                <%= form.text_area :description, placeholder: "Expliquer en quelques mots le problème avec cette dépense.", class: 'form-control', :autofocus => true, :style => "color:white;" %>
              </div>
              <div class="actions">
                <%= form.submit 'Envoyer mon commentaire', class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  // Turn on js-selectable class so that it becomes SELCT 2 tag
  var $eventSelect=$('select#transaction_category_id').select2({
    allowClear: true,
    width: 220,
    theme: "bootstrap"
  });
  $eventSelect.on("select2:select", function() {
    form = this.form;
    Rails.fire(form, 'submit');
  });
});
</script>
