<% content_for :title, "Détail d'une dépense" %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="card">
        <div class="card-title">
          <h3><small>Description : </small><%= @transaction.description %></h3>
        </div>
        <div class="card-body">
          <h4>
            <small>Effectuée le : </small>
            <%= @transaction.date %>
          </h4>
          <h4>
            <small>Montant de la dépense : </small>
            <%= -1 * @transaction.amount %> €
          </h4>
          <h4>
            <small>Coût carbone : </small>
            <%= @transaction.carbone %> kg
          </h4>
          <div class="row">
            <div class="col-md-12">
              <%= render 'form', transaction: @transaction %>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to transactions_path(:month => params[:month]) do %>
            <i class="material-icons">arrow_back</i>
            Retour à la liste
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
