<% content_for :title, "Détail d'une dépense" %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="card">
        <div class="card-title">
          <h3><small>Description : </small><%= @transaction.description %></h3>
        </div>
        <div class="card-body">
          <h4>
            <small>Effectuée le : </small>
            <%= @transaction.date %>
          </h4>
          <h4>
            <small>Montant de la dépense : </small>
            <%= -1 * @transaction.amount %> €
          </h4>
          <h4>
            <small>Coût carbone : </small>
            <span id="carbone">
              <%= number_with_precision(@transaction.carbone, precision: 1) %> kgCO2
            </span>
          </h4>
          <div class="row">
            <div class="col-md-12">
              <%= render 'form', transaction: @transaction %>
            </div>
          </div>
        </div>
        <% if @transaction.check_potential_modifiers == true %>
          <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
              <div class="row justify-content-center align-items-center push-invitation" style="margin-top:20px;">
                <div class="col-md-1 emoji text-center">
                  🎯
                </div>
                <div class="col-lg-7 col-md-6 col-11">
                  <p>Précise ton mode de consommation en répondant à quelques questions pour améliorer la précision de ton calcul carbone pour cette catégorie de dépenses</p>
                </div>
                <div class="col-lg-4 col-md-5 text-center">
                  <%= link_to "J'améliore mon calcul", edit_score_path(current_user.scores.last), class: "btn btn-sm btn-round btn-outline-primary" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="card-footer">
          <%= link_to request.referer.present? ? request.referer : default_path, class: "btn btn-primary btn-link" do %>
            <i class="material-icons">arrow_back</i>
            Retour à la liste
          <% end %>
          <div class="ml-auto">
            <%= link_to 'Signaler un problème', "", class: 'btn btn-danger btn-link', "data-toggle" => "modal", "data-target" => "#commentModal" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="commentModalLabel">Signaler un problème sur une dépense</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <%= form_for @comment do |form| %>
              <div class="field">
                <%= form.hidden_field :transaction_id, :value => @transaction.id %>
                <%= form.hidden_field :author, :value => @transaction.user.id %>
              </div>
              <div class="field">
                <%= form.text_area :description, placeholder: "Expliquer en quelques mots le problème avec cette dépense.", class: 'form-control', :autofocus => true, :style => "color:white;" %>
              </div>
              <div class="actions">
                <%= form.submit 'Envoyer mon commentaire', class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
