<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <p>30 derniers jours : <%= @last_30_days_count %></p>
        <p>Ce mois-ci : <%= @current_month_count %></p>
        <p>
          Historique :
          <% historic = [] %>
          <% 12.times do |i| %>
            <% historic << [i.month.ago.strftime("%Y-%m"), current_user.transactions.month_ago(i).sum(&:carbone)] %>
          <% end %>
          <%= historic %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body table-responsive">
        <h3>Mes dernières dépenses</h3>
        <p class="description">
          Dernière synchronisation le
          <%= @bridge.last_sync_at.to_s %>
        </p>
        <table class="table table-hover">
          <tbody>
            <% @transactions.first(5).each do |transaction| %>
              <tr>
                <td style="width:40%;"><%= transaction.description %></td>
                <td><%= transaction.carbone %> ç</td>
                <td><%= link_to 'Show', transaction %></td>
                <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
