<% content_for :title, "Dépenses détaillées" %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="card">
        <div class="card-title month-nav">
          <div class="row">
            <div class="col-4 text-right mt-auto mb-auto">
              <%= link_to :month => (params[:month].to_i || 0) + 1 do %>
                <i class="material-icons">arrow_back</i>
              <% end %>
            </div>
            <div class="col-4 text-center mt-auto mb-auto">
              <h3>
                <%= l(params[:month].to_i.months.ago, format: '%B %y') %>
              </h3>
            </div>
            <div class="col-4 text-left mt-auto mb-auto">
              <% if params[:month].to_i > 0 %>
                <%= link_to(:month => (params[:month].to_i) - 1)  do %>
                  <i class="material-icons">arrow_forward</i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive">
          <table class="table text-left">
            <thead>
              <tr>
                <th>Description</th>
                <th>Catégorie</th>
                <th>Carbone</th>
                <th>Date</th>
                <th />
              </tr>
            </thead>
            <tbody>
              <% @transactions.each do |transaction| %>
                <tr class="<%= 'text-danger' if transaction.category_id == 1 %>" >
                  <%= render transaction %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
