<% content_for :title, "Dépenses détaillées" %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="card">
        <div class="card-title month-nav">
          <div class="row">
            <div class="col-4 text-right mt-auto mb-auto">
              <%= link_to :month => (params[:month].to_i || 0) + 1, :category => params[:category], :parent_category => params[:parent_category] do %>
                <i class="material-icons">arrow_back</i>
              <% end %>
            </div>
            <div class="col-4 text-center mt-auto mb-auto">
              <h3>
                <%= l(params[:month].to_i.months.ago, format: '%B %y') %>
              </h3>
            </div>
            <div class="col-4 text-left mt-auto mb-auto">
              <% if params[:month].to_i > 0 %>
                <%= link_to:month => (params[:month].to_i) - 1, :category => params[:category], :parent_category => params[:parent_category]  do %>
                  <i class="material-icons">arrow_forward</i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive">
          <table class="table text-left">
            <thead>
              <tr>
                <th>Description</th>
                <th>Catégorie</th>
                <th>Carbone</th>
                <th>Date</th>
                <th />
              </tr>
            </thead>
            <tbody>
              <% @transactions.each do |transaction| %>
                <tr class="<%= 'text-danger' if transaction.category_id == 1 %>" >
                  <%= render transaction %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <%= link_to request.referer.present? ? request.referer : default_path, class: "btn btn-primary btn-link" do %>
            <i class="material-icons">arrow_back</i>
            Retour
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="commentModalLabel">Signaler un problème</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <%= form_for @comment do |form| %>
              <div class="field">
                <%= form.text_area :description, placeholder: "Expliquer en quelques mots le problème avec cette dépense.", class: 'form-control', :autofocus => true %>
              </div>
              <div class="actions">
                <%= form.submit 'Envoyer mon commentaire', class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
