<div class="sidebar d-none d-md-block">
  <div class="logo">
      <%= link_to(root_path, class: 'navbar-brand') do %>
        <%= image_tag("Logo-Carbo-White", style: "width:55px;") %>
      <% end %>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item <%= 'active' if current_page?('/dashboard') %>">
        <%= link_to '/dashboard', class: 'nav-link' do %>
          <i class="material-icons">dashboard</i>
          <p>Suivre</p>
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(categories_path) %>">
        <!-- accomodate empty beginning of month by displaying previous month -->
        <%= link_to categories_path(month: "#{1 if (Date.today - Date.today.beginning_of_month).to_i < 5}"), class: 'nav-link'  do %>
          <i class="material-icons">pie_chart</i>
          <p>Comprendre</p>
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?('/compare') %>">
        <!-- accomodate empty beginning of month by displaying previous month -->
        <%= link_to "/compare?month=#{1 if (Date.today - Date.today.beginning_of_month).to_i < 5}", class: 'nav-link' do %>
          <i class="material-icons">trending_down</i>
          <p>Réduire</p>
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(new_subscription_path) %>">
        <%= link_to new_subscription_path, class: "nav-link" do %>
          <i class="material-icons">account_balance_wallet</i>
          <p>Compenser</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<nav class="navbar fixed-bottom d-md-none bottom-nav">
  <div class="container text-center mr-auto ml-auto">
    <ul class="nav">
      <li class="nav-item <%= 'active' if current_page?('/dashboard') %>">
        <%= link_to '/dashboard', class: 'nav-link' do %>
          <i class="material-icons">dashboard</i>
          <p>Suivre</p>
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(categories_path) %>">
        <!-- accomodate empty beginning of month by displaying previous month -->
        <%= link_to categories_path(month: "#{1 if (Date.today - Date.today.beginning_of_month).to_i < 5}"), class: 'nav-link' do %>
          <i class="material-icons">pie_chart</i>
          <p>Comprendre</p>
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?('/compare') %>">
        <!-- accomodate empty beginning of month by displaying previous month -->
        <%= link_to "/compare?month=#{1 if (Date.today - Date.today.beginning_of_month).to_i < 5}", class: 'nav-link' do %>
          <i class="material-icons">trending_down</i>
          <p>Réduire</p>
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(new_subscription_path) %>">
        <%= link_to new_subscription_path, class: "nav-link" do %>
          <i class="material-icons">account_balance_wallet</i>
          <p>Compenser</p>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
