<nav id="app-navbar" class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <p class="navbar-brand">
        <%= content_for?(:title) ? yield(:title) : "Carbo" %>
      </p>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
      <% if current_user.transactions.category_id(115).count > 0 %>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/categorize" data-toggle="tooltip" data-placement="bottom" title="" data-container="body" data-original-title="Pour améliorer la précision de votre score, vous devez préciser la catégorie de
              <%= current_user.transactions.category_id(115).count %> dépenses.">
            <i class="material-icons">notifications</i>
            <span class="notification">
              <%= current_user.transactions.category_id(115).count %>
            </span>
            <div class="ripple-container"></div>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <p class="description">
              Pour améliorer la précision de votre score, vous devez préciser la catégorie de
              <%= current_user.transactions.category_id(115).where("amount<-5").count %>
               dépenses.
            </p>
            <%= link_to "Préciser mon score", "/categorize", class: "btn btn-outline-danger btn-round" %>
          </div>
        </li>
      <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link" href="" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <p><%= current_user.name %>
            <i class="material-icons">person</i></p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
            <%= link_to 'FAQ', page_path('faq'), class: 'dropdown-item' %>
            <% if user_signed_in? %>
              <%= link_to 'Profil', edit_user_registration_path, class: 'dropdown-item' %>
              <%= link_to 'Comptes', user_path(current_user), class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Déconnexion', destroy_user_session_path, :method=>'delete', class: 'dropdown-item' %>
            <% else %>
              <%= link_to 'Inscription', new_user_registration_path, class: 'btn btn-info btn-raised btn-round' %></li>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
