<div class="sidebar d-none d-md-block">
  <div class="logo">
      <%= link_to(root_path, class: 'navbar-brand') do %>
        <%= image_tag("Logo-Carbo-White", style: "width:55px;") %>
        Carbo
        <span class="badge badge-pill badge-primary" style="font-size: 6px;padding: 3px 5px;vertical-align: middle; margin-left:5px;">
          alpha
        </span>
      <% end %>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item <%= 'active' if current_page?('/dashboard') %>">
        <%= link_to '/dashboard', class: 'nav-link' do %>
          <i class="material-icons">dashboard</i>
          <p>Suivre</p>
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(categories_path) %>">
        <%= link_to categories_path, class: 'nav-link' do %>
          <i class="material-icons">pie_chart</i>
          <p>Comprendre</p>
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?('/compare') %>">
        <%= link_to "/compare", class: 'nav-link' do %>
          <i class="material-icons">timeline</i>
          <p>Progresser</p>
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(new_subscription_path) %>">
        <%= link_to new_subscription_path, class: "nav-link" do %>
          <i class="material-icons">group</i>
          <p>Compenser</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<nav class="navbar fixed-bottom d-md-none bottom-nav">
  <div class="container text-center mr-auto ml-auto">
    <ul class="nav">
      <li class="nav-item <%= 'active' if current_page?('/dashboard') %>">
        <%= link_to '/dashboard', class: 'nav-link' do %>
          <i class="material-icons">dashboard</i>
          <p>Suivre</p>
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(categories_path) %>">
        <%= link_to categories_path, class: 'nav-link' do %>
          <i class="material-icons">pie_chart</i>
          <p>Comprendre</p>
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?('/compare') %>">
        <%= link_to "/compare", class: 'nav-link' do %>
          <i class="material-icons">timeline</i>
          <p>Progresser</p>
        <% end %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(new_subscription_path) %>">
        <%= link_to new_subscription_path, class: "nav-link" do %>
          <i class="material-icons">group</i>
          <p>Compenser</p>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
