<div class="page-header home-section home-section6">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-auto mb-auto">
        <span class="badge badge-pill badge-white">Disponible en version alpha</span>
        <h2>Essaie Carbo dès aujourd'hui  🚀</h2>
        <%= link_to "Créer mon compte", new_user_registration_path, class: "btn btn-lg btn-round btn-info" %>
      </div>
      <div class="col-md-4 d-none d-md-block" style="margin-bottom:-150px; text-align:center;">
        <%= image_tag("phone_section6.png", class: "img-fluid", :style => "width:60%;") %>
      </div>
    </div>
  </div>
</div>
<div class="prefooter">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3" style="margin-top:-20px;">
        <h3>
          <%= image_tag("Logo-Carbo-Blue", style: "width:55px;") %>
          Carbo
        </h3>
        <p class="description">
          Donner au plus grand nombre le pouvoir d’agir contre le changement climatique.
        </p>
        <%= link_to "hello@carbo.com", "mailto:contact.carbo2019@gmail.com" %>
      </div>
      <div class="col-md-3">
        <h5>Explorer</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <%= link_to "Comment ça marche ?", "/pages/about#section3" %>
          </li>
          <li class="nav-item">
            <%= link_to "A propos", page_path('mission') %>
          </li>
          <li class="nav-item">
            <%= link_to "FAQ", page_path('faq') %>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Liens utiles</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <%= link_to "" do %>
              <i class="fa fa-facebook-square"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "Ecrire aux fondateurs", '/pages/mission#anchor' %>
          </li>
          <li class="nav-item">
            <%= link_to "Suivre notre développement", 'https://trello.com/b/ikSl3Q07', :target => "_blank" %>
          </li>
        </ul>
      </div>
      <div class="col-md-3 d-none d-md-block">
        <%= image_tag("illu_prefooter.png", class: "img-fluid illu") %>
      </div>
    </div>
  </div>
</div>
