<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for?(:title) ? yield(:title) : "Green Lantern" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Green Lantern" %>">
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons|Baloo|Maven+Pro:400,700,900|Muli:400,600,700" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <%= render '/layouts/application_sidebar' %>
      <div class="main-panel">
        <%= render 'layouts/application_navbar' %>
        <div class="content">
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
    $('.alert').fadeOut();
    }, 3000);
  })
  </script>
</html>
