<!DOCTYPE html>
<html lang="fr">
  <head>
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for?(:title) ? yield(:title) : "Carbo" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "L’impact de tes choix quotidiens. Carbo, l'application qui calcule automatiquement le poids carbone de toutes tes dépenses bancaires." %>">
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Material+Icons|Baloo|Maven+Pro:400,700,900|Quicksand:400,700&display=swap" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'https://js.stripe.com/v3/' %>
    <%= csrf_meta_tags %>
    <%= tag :meta, name: "stripe-key", content: Rails.application.credentials[:stripe][Rails.env.to_sym][:public_key] %>
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes">
<script>
  function sendPush(){
    getKeys(false)
  }
  var vapidPublicKey = new Uint8Array(<%= Base64.urlsafe_decode64(Rails.application.credentials[:vapid_public_key]).bytes %>);

  function checkNotifs(obj){
      if (!("Notification" in window)) {                                             //1
           console.error("This browser does not support desktop notification");
         }
         // Let's check whether notification permissions have already been granted
         else if (Notification.permission === "granted") {                           //2
           console.log("Permission to receive notifications has been granted");
           getKeys();
         }
         // Otherwise, we need to ask the user for permission
         else if (Notification.permission !== 'denied') {                            //3
           Notification.requestPermission(function (permission) {
                 // If the user accepts, let's create a notification
             if (permission === "granted") {                                         //4
               console.log("Permission to receive notifications has been granted");
               getKeys();
             }
           });
        }
   }

     function getKeys(){
       navigator.serviceWorker.register('/serviceworker.js', {scope: './'})          //5
         .then(function(registration) {
           return registration.pushManager.getSubscription()
             .then(function(subscription) {
               if (subscription) {
                 return subscription;
               }
               return registration.pushManager.subscribe({                           //6
                 userVisibleOnly: true,
                 applicationServerKey: vapidPublicKey
               });
             });
         }).then(function(subscription) {
           sendKeys(subscription.toJSON())                                           //7
         });
     }

     function sendKeys(subscription){
       $.post('/sendkeys', {
           subscription: subscription,
           message: 'You clicked a button!'
         });
     }
  </script>
</head>
  <body>
    <div class="wrapper">
      <%= render 'layouts/application_sidebar' %>
      <div class="main-panel">
        <%= render 'layouts/application_navbar' %>
        <div class="content">
          <div class="container-fluid">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
        <%= render 'layouts/footer' %>
      </div>
    </div>
    <%= abraham_tour %>
  </body>
  <%= render 'layouts/analytics' %>
</html>
